<template>
  <div class="Admin">
    <PageTitle icon="fa fa-user" main="Admin" sub="Teste" />
    <div>
      <b-form>
        <b-row>
          <b-col md="1"></b-col>
          <b-col md="3" sm="12">
            <b-img
              v-if="mainDadosView.photo=='' || mainDadosView.photo==undefined || mainDadosView.photo==null"
              center
              blank
              width="80"
              height="80"
              alt="Imagem transparente"
              disabled
              class="mt-1"
              rounded="circle"
            ></b-img>
            <b-img
              v-else
              center
              :src="mainDadosView.photo"
              width="250"
              height="250"
              alt="Foto de Perfil"
              disabled
              class="mt-1"
              rounded="circle"
            ></b-img>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group label="Nome:" label-for="mainDados-name">
              <b-form-input
                id="mainDados-name"
                v-model="mainDadosView.name"
                required
                readonly
                placeholder="Informe o nome do Aluno"
              ></b-form-input>
              <b-form-group label="Usuário" label-for="mainDados-ra">
                <b-form-input
                  id="mainDados-ra"
                  v-model="mainDadosView.user_name"
                  required
                  readonly
                  placeholder="Id do Aluno."
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="E-mail:"
                label-for="mainDados-email"
                description="Seu e-mail não será compartilhado."
              >
                <b-form-input
                  id="mainDados-email"
                  v-model="mainDadosView.email"
                  required
                  readonly
                  type="email"
                  placeholder="Informe o E-mail"
                ></b-form-input>
              </b-form-group>
            </b-form-group>
          </b-col>
        </b-row>
      </b-form>
    </div>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";

import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";
export default {
  name: "Admin",
  components: { PageTitle },
  data() {
    return {
      showMainModalView: false,
      showAppendModal: false,
      showFilter: false,
      showReports: false,
      showMainTable: false,
      showNewFile: false,
      titleModal: null,
      reportSelect: null,
      inputFile: null,
      inputImage: null,
      fileDados: {},
      filterDados: {},
      mainDados: {},
      mainDadosView: {},
      selectStreets: [],
      selectDistricts: [],
      selectCourses: [],
      itensTableAppends: [],
      itensTableUsers: [],
      page: 1,
      perPage: 7,
      totalCount: 0,
      mode: "save",
      image: false,
      selectTypeCalc: [
        { value: "Integral", text: "Integral" },
        { value: "Parcial", text: "Parcial" }
      ],
      fieldsMain: [
        { key: "id", label: "Código", sortable: true },
        { key: "name", label: "Nome", sortable: true },
        {
          key: "cpf",
          label: "CPF",
          formatter: value => {
            return value.replace(
              /^(\d{3})(\d{3})(\d{3})(\d{2})/,
              "$1.$2.$3-$4"
            );

            //em caso de cpf  replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/,"$1.$2.$3/$4-$5"
          }
        },
        { key: "actions", label: "Ações" }
      ],
      fieldsAppends: [
        { key: "id", label: "Código", sortable: true },
        { key: "description", label: "Descrição" },
        { key: "actions", label: "Ações" }
      ],
      optionsReports: [
        {
          value: null,
          name: "Selecione um relatório",
          notEnabled: true,
          disable: true
        },
        { value: "basic", name: "Básico" },
        { value: "detail", name: "Detalhado" }
      ]
    };
  },
  components: {
    PageTitle
  },

  mounted() {
    this.loadMains();
  },
  methods: {
    loadMains() {
      const url = `${baseApiUrlResource}/users`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.mainDadosView = resposta.data;
              console.log(resposta.data);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    }
  }
};
</script>
<style>
</style>