<template>
  <div class="footer">
    <div class="teste">
      <strong>
        <span>SIGPF</span>
      </strong> - Versão:
      <strong>
        <span>{{teste}} </span>
      </strong>
    </div>
    <span>
      Copyright
      <strong>ALNSOFTWARE</strong>
    </span>
  </div>
</template>

<script>
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";
export default {
  data: () => {
    return {
      teste: ""
    };
  },
  mounted() {
    this.loadVersion();
  },
  methods: {
    loadVersion() {
      const url = `${baseApiUrlResource}/version/last`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.teste = resposta.data.version;
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    }
  }
};
</script>

<style>
.footer {
  grid-area: footer;
  background-color: #1e469a;
  color: rgb(15, 11, 37);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.teste {
  color: rgb(15, 11, 37);
  margin-right: 20px;
}
</style>