<template>
  <header class="header">
    <a class="toggle" v-b-toggle.sidebar-variant v-if="!hideToggle">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>

    <b-sidebar
      id="sidebar-variant"
      title="MENU"
      bg-variant="dark"
      text-variant="light"
      shadow
      backdrop
      no-header-close
    >
      <div class="px-3 py-2">
        <p></p>
        <div class="p-3">
          <nav>
            <div>
              <a class="title" v-b-toggle>
                <router-link to="/">HOME</router-link>
              </a>
            </div>
          </nav>

          <nav class="mb-3 mt-2">
            <a class="title" v-b-toggle.collapse-a>
              <router-link to>ASSOCIAÇÃO</router-link>
            </a>
            <b-nav vertical justified>
              <b-collapse id="collapse-a" class="mt-2">
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-a>
                    <router-link to="/association">Associação</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-a>
                    <router-link to="/support">Auxílio</router-link>
                  </div>
                </b-nav-item>

                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-a>
                    <router-link to="/member">Membros</router-link>
                  </div>
                </b-nav-item>
              </b-collapse>
            </b-nav>
          </nav>
          <nav class="mb-3">
            <b-nav vertical>
              <a class="title" v-b-toggle.collapse-e>
                <router-link to>ASSOCIADOS</router-link>
              </a>
              <b-collapse id="collapse-e" class="mt-2">
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-e>
                    <router-link to="/student">Alunos</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-e>
                    <router-link to="/university">Universidades</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-e>
                    <router-link to="/course">Cursos</router-link>
                  </div>
                </b-nav-item>
              </b-collapse>
            </b-nav>
          </nav>
          <nav class="mb-3">
            <b-nav vertical>
              <a class="title" v-b-toggle.collapse-b>
                <router-link to>EMPRESA</router-link>
              </a>
              <b-collapse id="collapse-b" class="mt-2">
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-b>
                    <router-link to="/company">Empresa</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-b>
                    <router-link to="/driver">Motorista</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-b>
                    <router-link to="/vechile">Veículo</router-link>
                  </div>
                </b-nav-item>
              </b-collapse>
            </b-nav>
          </nav>
          <nav class="mb-3">
            <b-nav vertical>
              <a class="title" v-b-toggle.collapse-c>
                <router-link to>ENDEREÇOS</router-link>
              </a>
              <b-collapse id="collapse-c" class="mt-2">
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-c>
                    <router-link to="/district">Bairros</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-c>
                    <router-link to="/street">Ruas</router-link>
                  </div>
                </b-nav-item>
              </b-collapse>
            </b-nav>
          </nav>
          <nav class="mb-3">
            <b-nav vertical>
              <a class="title" v-b-toggle.collapse-d>
                <router-link to>FINANCEIRO</router-link>
              </a>
              <b-collapse id="collapse-d" class="mt-2">
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-d>
                    <router-link to="/bank">Caixa</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-d>
                    <router-link to="/history">Histórico</router-link>
                  </div>
                </b-nav-item>

                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-d>
                    <router-link to="/recipe">Receitas</router-link>
                  </div>
                </b-nav-item>
              </b-collapse>
            </b-nav>
          </nav>
          <nav class="mb-3">
            <b-nav vertical>
              <a class="title" v-b-toggle.collapse-g>
                <router-link to>TRANSAÇÕES</router-link>
              </a>
              <b-collapse id="collapse-g" class="mt-2">
                <!-- <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-g>
                    <router-link to="/admin">Cálculo</router-link>
                  </div>
                </b-nav-item>-->
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-g>
                    <router-link to="/input">Entradas</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-g>
                    <router-link to="/output">Saídas</router-link>
                  </div>
                </b-nav-item>
              </b-collapse>
            </b-nav>
          </nav>
          <nav class="mb-3">
            <b-nav vertical>
              <a class="title" v-b-toggle.collapse-j>
                <router-link to>ESTATÍSTICAS</router-link>
              </a>
              <b-collapse id="collapse-j" class="mt-2">
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-j>
                    <router-link to="/statistics/student">Cadastrais</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-j>
                    <router-link to="/statistics/estimates">Estimativas</router-link>
                  </div>
                </b-nav-item>
                <b-nav-item>
                  <div class="conteudo" v-b-toggle.collapse-j>
                    <router-link to="/statistics/finances">Rendimentos</router-link>
                  </div>
                </b-nav-item>
              </b-collapse>
            </b-nav>
          </nav>

          <nav class="mb-3">
            <a class="title" v-b-toggle>
              <router-link to="/preferences">PREFERÊNCIAS</router-link>
            </a>
          </nav>
        </div>
      </div>
    </b-sidebar>
    <h1 class="title" v-if="userData">
      <router-link body="false" :to="{path: '/'}">{{title}}</router-link>
    </h1>
    <UserDropdown v-if="!hideUserDropDown" />
  </header>
</template>

<script>
import UserDropdown from "./UserDropdown";
import { mapState } from "vuex";

export default {
  name: "Header",
  components: {
    UserDropdown
  },
  props: {
    title: String,
    hideToggle: Boolean,
    hideUserDropDown: Boolean
  },
  computed: mapState(["userData"]),

  methods: {
    toggleMenu() {
      this.$store.commit("toggleMenu");
    }
  }
};
</script>

<style>
.header {
  grid-area: header;
  background: linear-gradient(to right, #1e469a, #49a7c1);

  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.5rem;
  color: #efefef;
  font-weight: 100;
  flex-grow: 1;
  text-align: center;
}

.title2 {
  font-size: 1.2rem;
  color: #efefef;
  font-weight: 100;
  flex-grow: 1;
  text-align: center;
}

.title a {
  color: #efefef;
  text-decoration: none;
}
.title a:hover {
  text-decoration: none;
  color: #efefef;
}

.title2 a {
  color: #efefef;
  text-decoration: none;
}
.title2 a:hover {
  text-decoration: none;
  color: #efefef;
}

header.header > a.toggle {
  width: 80px;
  height: 100%;
  color: #fff;
  justify-self: flex-start;
  text-decoration: none;
  background-color: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

header.header > a.toggle:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #efefef;
}

a {
  background-color: none;
}
</style>