<template>
  
   
</template>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Menu",
  computed: mapState(["isMenuVisible"]),
  methods: {
    toggleMenu() {
      this.$store.commit("toggleMenu");
    }
  }
};
</script>

<style>
.menu {
  grid-area: menu;
  background: linear-gradient(to right, #232526, #414345);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.p-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.fora :hover {
  background: #414345;
}

.conteudo a {
  text-decoration: none;
  color: white;
}

.conteudo a:hover {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  background-color: white;
}

a :hover {
  text-decoration: none;
  color: white;
}
</style>