<template>
  <div class="user-dropdown">
    <div class="user-button">
      <span class="d-none d-sm-block">{{userData.user_name}}</span>
      <div class="user-dropdown-img">
        <b-img center rounded="circle" width="50" height="50" alt="usuario" :src="userData.photo"></b-img>
      </div>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
    <div class="user-dropdown-content">
      <router-link to="/admin">
        <i class="fa fa-cogs"></i> User
      </router-link>
      <a @click="logout">
        <i class="fa fa-sign-out"></i> Sair
      </a>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import {
  baseApiUrlAuth,
  baseApiUrlResource,
  userKey,
  showError
} from "../../config/global";

export default {
  name: "UserDropdown",
  components: {},
  computed: mapState(["userData"]),
  methods: {
    ...mapActions(["loadUser", "validateTokenRefresh"]),
    teste() {
      this.valor = "fa fa-caret-left";
    },
    logout() {
      try {
        localStorage.removeItem(userKey);
        this.$cookie.delete("refreshToken");
        this.$store.state.user = null;
        this.$store.state.userData = null;
        //location.reload();
        //this.$router.push({ Path: "Auth" });
        this.$router.push("/auth");
      } catch (error) {
        alert(error);
      }
    }
  }
};
</script>
<style>
.user-dropdown {
  height: 100%;
  position: relative;
}

.user-button {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 100;
  height: 100%;
  padding: 0px 20px;
}

.user-dropdown:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.user-dropdown-img {
  margin: 0px 10px;
}

.user-dropdown-img > img {
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;

  border-radius: 50%;
}

.user-dropdown-content {
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  flex: wrap;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.user-dropdown:hover .user-dropdown-content {
  visibility: visible;
  opacity: 1;
}

.user-dropdown-content a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.user-dropdown-content a:hover {
  background-color: #ededed;
  color: black;
  text-decoration: none;
}
</style>