<template>
  <div class="home" v-if="!hideToggle">
    <PageTitle icon="fa fa-home" main="Página Inicial" sub="Bem-vindo de volta!" />
    <div v-if="!hideToggle">
      <b-row>
        <b-col md="1"></b-col>
        <b-col md="8" class="mt-2">
          <b-carousel
            id="carousel-fade"
            style="text-shadow: 0px 0px 2px #000"
            fade
            indicators
            img-width="1024"
            img-height="150"
            controls
          >
            <b-carousel-slide
              caption="Manual de Usuário"
              img-blank
              img-alt="Blank image"
              background="#17a2b8"
            >
              Faça o Download aqui:
              <a
                href="https://1drv.ms/b/s!Al8RJLAsFlCVcXk_kGJI5thMntc?e=nufM6h"
                target="_blank"
              >Download</a>
            </b-carousel-slide>
            <b-carousel-slide
              caption="Redes sociais"
              img-blank
              img-alt="Blank image"
              background="#1e469a"
            >
              Acesse o
              <a href="https://www.facebook.com/AEUTANABI/" target="_blank">Facebook</a>
            </b-carousel-slide>
          </b-carousel>
          <br />
          <b-card
            bg-variant="light"
            border-variant="info"
            header-bg-variant="primary"
            header-text-variant="white"
            header=" "
          >
            <b-card-text>
              <h3>Ultimas Atualizações</h3>
            </b-card-text>
            <hr />

            <b-card-text>
              <ul>
                <li v-if="att[0]" class="mt-2">
                  <strong>Versão:</strong>
                  {{att[0].version}}
                  <strong>- Data da Atualização:</strong>
                  {{formatData(att[0].createDate)}}
                  <br />
                  <strong>Descrição</strong>
                  {{att[0].description}}
                </li>
                <li v-if="att[1]" class="mt-2">
                  <strong>Versão:</strong>
                  {{att[1].version}}
                  <strong>- Data da Atualização:</strong>
                  {{formatData(att[1].createDate)}}
                  <br />
                  <strong>Descrição</strong>
                  {{att[1].description}}
                </li>
                <li v-if="att[2]" class="mt-2">
                  <strong>Versão:</strong>
                  {{att[2].version}}
                  <strong>- Data da Atualização:</strong>
                  {{formatData(att[2].createDate)}}
                  <br />
                  <strong>Descrição</strong>
                  {{att[2].description}}
                </li>
                <li v-if="att[3]" class="mt-2">
                  <strong>Versão:</strong>
                  {{att[3].version}}
                  <strong>- Data da Atualização:</strong>
                  {{formatData(att[3].createDate)}}
                  <br />
                  <strong>Descrição</strong>
                  {{att[3].description}}
                </li>
                <li v-if="att[4]" class="mt-2">
                  <strong>Versão:</strong>
                  {{att[4].version}}
                  <strong>- Data da Atualização:</strong>
                  {{formatData(att[4].createDate)}}
                  <br />
                  <strong>Descrição</strong>
                  {{att[4].description}}
                </li>
              </ul>
            </b-card-text>
          </b-card>
        </b-col>

        <b-col md="2">
          <b-card
            title="Suporte Técnico"
            sub-title="ALNSOFTWARE"
            class="mt-2"
            bg-variant="light"
            border-variant="info"
            header-bg-variant="primary"
            header-text-variant="white"
            header=" "
          >
            <hr />
            <b-card-text>Entre em contato através dos seguintes canais de comunicação:</b-card-text>

            <h4>
              <i class="fa fa-envelope" aria-hidden="true"></i> Email
            </h4>
            <h5>alnsoftware@hotmail.com</h5>
            <hr />

            <h4>
              <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
            </h4>
            <h5>@exemplo</h5>

            <hr />

            <h4>
              <i class="fa fa-phone-square" aria-hidden="true"></i> Telefone
            </h4>
            <h5>17 3333-3333</h5>

            <hr />

            <h4>
              <i class="fa fa-mobile" aria-hidden="true"></i> WatsApp
            </h4>
            <h5>17 99999-9999</h5>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import { mapState } from "vuex";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Home",
  data() {
    return {
      att: {}
    };
  },
  props: {
    hideToggle: Boolean
  },
  computed: mapState(["userData"]),
  components: {
    PageTitle
  },
  mounted() {
    this.loadVersion();
  },
  methods: {
    loadVersion() {
      const url = `${baseApiUrlResource}/version/desc`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.att = resposta.data;
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    formatData(value) {
      return new Date(value).toLocaleString();
    }
  }
};
</script>
<style>
p {
  color: black;
}
</style>