<template>
  <div class="Streets">
    <PageTitle icon="fa fa-road" main="Ruas" sub />

    <!--MODAL V D-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModalView"
      centered
      id="my-modal"
      :title="titleModal"
    >
      <b-form>
        <b-row>
          <b-col md="6" sm="12">
            <b-form-group label="Nome:" label-for="mainDados-name">
              <b-form-input
                id="mainDados-name"
                v-model="mainDadosView.name_street"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome da rua"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button
              variant="danger"
              v-if="mode==='remove'"
              @click="remover(), showMainModalView=false"
            >Remover</b-button>
          </b-col>
          <b-col md="2" sm="12" v-if="mode=='remove'">
            <b-button class="ml-2" @click="reset(), showMainModalView=false">Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!--MODAL P P -->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModal"
      centered
      id="my-modal"
      :title="titleModal"
    >
      <b-form @submit.stop.prevent="salvar(), showMainModal=false">
        <b-row>
          <b-col md="6" sm="12">
            <b-form-group
              label="Nome:"
              label-for="mainDados-name"
              :invalid-feedback="invalidName"
              :state="stateName"
            >
              <b-form-input
                id="mainDados-name"
                v-model="mainDados.name_street"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome da rua"
                :state="stateName"
                trim
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button variant="primary" v-if="mode==='save'" type="submit">Salvar</b-button>
          </b-col>
          <b-col md="2" sm="12">
            <b-button class="ml-2" @click="reset(), showMainModal=false">Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <div>
      <b-button variant="outline-primary" @click="loadMains(), showMainTable = true">
        <i class="fa fa-search"></i>Pesquisar
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-success"
        @click="mode='save', showMainModal=true, titleModal='Novo Cadastro'"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>Novo Cadastro
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-info"
        @click="showReports = !showReports, titleModal='Selectione um Relatório'"
      >
        <i class="fa fa-print" aria-hidden="true">Realtórios</i>
      </b-button>
      <b-button class="ml-2" variant="outline-dark" @click="showFilter = !showFilter">
        <i class="fa fa-filter" aria-hidden="true">Filtros</i>
      </b-button>
      <div class="mt-3" v-show="showFilter">
        <b-button variant="outline-secondary" @click="cleanFilter">
          <i class="fa fa-pencil-square-o" aria-hidden="true">Limpar Filtros</i>
        </b-button>
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Nome:" label-for="filterDados-nameStreet">
                <b-form-input
                  id="filterDados-nameStreet"
                  v-model="filterDados.name_street"
                  placeholder="rua.. "
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <div class="mt-3" v-show="showReports">
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Selecione um Relatório:" label-for="report">
                <b-form-select
                  id="report"
                  v-model="reportSelect"
                  :options="optionsReports"
                  class="mb-3"
                  required
                  :readonly="mode ==='remove'"
                  text-field="name"
                  value="name"
                  disabled-field="notEnabled"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col md="3" sm="12">
              <b-form-group label="Emitir: ">
                <b-button variant="info" @click="report">Emitir Relatorio</b-button>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <b-table
        v-show="showMainTable"
        class="mt-2"
        fixed
        responsive
        striped
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableMain"
        :fields="fieldsMaind"
      >
        <template v-slot:cell(actions)="row">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="loadMainView(row.item, 'view'), showMainModalView=true, titleModal='Visualizar'"
            class="mr-2"
          >
            <i class="fa fa-eye"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Alterar"
            variant="warning"
            @click="loadMain(row.item), showMainModal=true, titleModal='Alteração de Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-pencil"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Excluir"
            variant="danger"
            @click="loadMainView(row.item, 'remove'), showMainModalView=true, titleModal='Excluir Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-trash"></i>
          </b-button>
        </template>
      </b-table>
      <b-pagination
        v-show="showMainTable"
        v-model="page"
        align="center"
        :per-page="perPage"
        :total-rows="totalCount"
      ></b-pagination>
    </div>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Street",
  data: function() {
    return {
      showMainModal: false,
      showMainModalView: false,
      showAppendModal: false,
      showFilter: false,
      showReports: false,
      showMainTable: false,
      showNewFile: false,
      titleModal: null,
      reportSelect: null,
      inputFile: null,
      fileDados: {},
      filterDados: {},
      mainDados: {
        name_street: ""
      },
      mainDadosView: {},
      selectStreets: [],
      selectDistricts: [],
      itensTableAppends: [],
      itensTableMain: [],
      page: 1,
      perPage: 7,
      totalCount: 0,
      mode: "save",
      fieldsMaind: [
        { key: "id", label: "Código", sortable: true },
        { key: "name_street", label: "Nome", sortable: true },

        { key: "actions", label: "Ações" }
      ],
      fieldsAppends: [
        { key: "id", label: "Código", sortable: true },
        { key: "description", label: "Descrição" },
        { key: "actions", label: "Ações" }
      ],
      optionsReports: [
        {
          value: null,
          name: "Selecione um relatório",
          notEnabled: true,
          disable: true
        },
        { value: "basic", name: "Básico" }
      ]
    };
  },
  components: {
    PageTitle
  },
  computed: {
    //BEGIN  STATE
    stateName() {
      if (
        this.mainDados.name_street.length >= 5 &&
        this.mainDados.name_street.length < 100
      ) {
        return true;
      } else {
        return false;
      }
    },
    //END STATE
    //BEGIN VALID/INVALID

    //OWNER
    invalidName() {
      if (
        this.mainDados.name_street.length > 0 &&
        this.mainDados.name_street.length < 5
      ) {
        return "Insira no mínimo 3 digitos";
      } else if (this.mainDados.name_street.length > 100) {
        return "Insira no máximo 100 digitos";
      } else {
        return "Campo obrigatório";
      }
    }
  },
  watch: {
    page() {
      this.loadMains();
    }
  },
  mounted() {},
  methods: {
    ...mapActions(["validateToken", "validateTokenRefresh"]),
    reset() {
      this.mode = "save";
      this.mainDados = { name_street: "" };
    },
    resetFile() {
      (this.inputFile = null),
        (this.showNewFile = null),
        (this.fileData = null);
    },
    cleanFilter() {
      this.filterDados = {};
    },
    loadMainAppend(appen) {
      this.append = { ...appen };
    },
    showFile(pathData) {
      window.open(pathData.path);
    },
    loadMain(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDados = { ...mainDados };
    },
    loadMainView(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDadosView = { ...mainDados };
    },
    loadMains() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados += this.filterDados.name_street
          ? `&name=${this.filterDados.name_street}`
          : "";
      }

      const url = `${baseApiUrlResource}/streets?page=${this.page}&size=${this.perPage}${filterDados}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableMain = resposta.data.content;
              this.totalCount = Number(resposta.data.totalElements);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    salvar() {
      const method = this.mainDados.id ? "put" : "post";
      const id = this.mainDados.id ? `/${this.mainDados.id}` : "";

      const url = `${baseApiUrlResource}/streets${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, this.mainDados, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMains();
              this.reset();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    remover() {
      const id = this.mainDadosView.id;

      const method = this.mainDadosView.id ? "delete" : "get";

      const url = `${baseApiUrlResource}/streets/${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.reset();
              this.loadMains();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    report() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados = "?";
        filterDados += this.filterDados.name_street
          ? `&name=${this.filterDados.name_street}`
          : "";
      }

      var url = "";

      if (this.reportSelect) {
        url =
          this.reportSelect == "basic"
            ? `${baseApiUrlResource}/reports/streets${filterDados}`
            : "";
      } else {
        url = "";
      }

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              var arrrayBuffer = base64ToArrayBuffer(resposta.data);
              function base64ToArrayBuffer(base64) {
                var binaryString = window.atob(base64);
                var binaryLen = binaryString.length;
                var bytes = new Uint8Array(binaryLen);
                for (var i = 0; i < binaryLen; i++) {
                  var ascii = binaryString.charCodeAt(i);
                  bytes[i] = ascii;
                }
                return bytes;
              }
              var blob = new Blob([arrrayBuffer], { type: "application/pdf" });
              var link = window.URL.createObjectURL(blob);
              window.open(link);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    }
  }
};
</script>
<style>
</style>