<template>
  <div class="estimates">
    <PageTitle icon="fa fa-bar-chart" main="Estimativas" sub="Dados Estimados" />

    <b-card-group>
      <b-card>
        <Estimate />
        <hr />

        <template v-slot:footer>
          <small class="text-muted">Valores gerados com dados atualizados</small>
        </template>
      </b-card>
    </b-card-group>
    <b-card-group>
      <b-card bg-variant="danger">
        <hr />
        <b-card-text>
          <b-row>
            <b-col md="6">
              <h2 class="mt-1">Valor Calculado:</h2>
            </b-col>
            <b-col md="6">
              <h1>R$: {{data.calcTotal}}</h1>
            </b-col>
          </b-row>
        </b-card-text>
      </b-card>
      <br />
      <b-card bg-variant="warning">
        <hr />
        <b-card-text>
          <b-row>
            <b-col md="6">
              <h2 class="mt-1">Mensalidade:</h2>
            </b-col>
            <b-col md="6">
              <h1>R$: {{data.totalIntegralWithContributionWhitoutParcial}}</h1>
            </b-col>
          </b-row>
        </b-card-text>
      </b-card>
      <br />
      <b-card bg-variant="success">
        <hr />
        <b-card-text>
          <b-row>
            <b-col md="6">
              <h2 class="mt-1">Contribuição:</h2>
            </b-col>
            <b-col md="6">
              <h1>R$: {{data.estimateContribution}}</h1>
            </b-col>
          </b-row>
        </b-card-text>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import Estimate from "../charts/Estimate";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Estimates",
  components: {
    PageTitle,
    Estimate
  },
  data: () => {
    return {
      data: ""
    };
  },
  created() {
    const url = `${baseApiUrlResource}/vo/statistics`;

    var formData = new FormData();

    formData.append("refresh_token", this.$cookie.get("refreshToken"));
    formData.append("grant_type", "refresh_token");

    axios
      .post(`${baseApiUrlAuth}/oauth/token`, formData, {
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
          Authorization: "Basic dnVlanM6dnVlanM="
        }
      })
      .then(res => {
        axios
          .get(url, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
          .then(resposta => {
            this.data = resposta.data;
          });

        localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
        this.$store.commit(
          "SET_TOKEN",
          JSON.parse(localStorage.getItem(userKey))
        );
      })
      .catch(error => {
        showError(error.response.status, error.response.data.error);
        console.log(JSON.stringify(error.response));
      });
  },
  methods: {}
};
</script>
<style>
h3 {
  text-align: center;
}
</style>