<template>
  <div class="finances">
    <PageTitle icon="fa fa-area-chart" main="Dados Financeiros" sub="Estatísticas" />

    <b-card-group>
      <b-card>
        <h3>Balanço do Dia</h3>
        <EntriesDay />
        <hr />
        <b-card-text></b-card-text>
        <template v-slot:footer>
          <small class="text-muted">Gerado com dados atualizados</small>
        </template>
      </b-card>
      <b-card>
        <h3>Lucro do Dia</h3>
        <GainsDay />
        <hr />
        <b-card-text></b-card-text>
        <template v-slot:footer>
          <small class="text-muted">Gerado com dados atualizados</small>
        </template>
      </b-card>
    </b-card-group>
    <div>
      <br />
    </div>
    <b-card-group>
      <b-card>
        <h3>Balanço do Mês</h3>
        <EntriesMonth />
        <hr />
        <b-card-text></b-card-text>
        <template v-slot:footer>
          <small class="text-muted">Gerado com dados atualizados</small>
        </template>
      </b-card>
      <b-card>
        <h3>Lucro do Mês</h3>
        <GainsMonth />
        <hr />
        <b-card-text></b-card-text>
        <template v-slot:footer>
          <small class="text-muted">Gerado com dados atualizados</small>
        </template>
      </b-card>
    </b-card-group>
    <div>
      <br />
    </div>
    <b-card-group>
      <b-card>
        <h3>Balanço do Ano</h3>
        <EntriesYear />
        <hr />
        <b-card-text></b-card-text>
        <template v-slot:footer>
          <small class="text-muted">Gerado com dados atualizados</small>
        </template>
      </b-card>
      <b-card>
        <h3>Lucro do Ano</h3>
        <GainsYear />
        <hr />
        <b-card-text></b-card-text>
        <template v-slot:footer>
          <small class="text-muted">Gerado com dados atualizados</small>
        </template>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import EntriesMonth from "../charts/EntriesMonth";
import EntriesDay from "../charts/EntriesDay";
import EntriesYear from "../charts/EntriesYear";
import GainsMonth from "../charts/GainsMonth";
import GainsDay from "../charts/GainsDay";
import GainsYear from "../charts/GainsYear";

export default {
  name: "StudentData",
  components: {
    PageTitle,
    EntriesDay,
    GainsMonth,
    GainsDay,
    EntriesMonth,
    EntriesYear,
    GainsYear
  },
  methods: {}
};
</script>
<style>
h3 {
  text-align: center;
}
</style>