<template>
  <div class="studentData">
    <PageTitle icon="fa fa-pie-chart" main="Dados Cadastrais" sub="Dados Estatísticos" />

    <b-card-group>
      <b-card>
        <RegistrationStudent />
        <hr />
        <b-card-text>Dados retirados dos pagantes, ativos.</b-card-text>
        <template v-slot:footer>
          <small class="text-muted">Valores gerados com dados atualizados</small>
        </template>
      </b-card>
      <div>
        <br />
      </div>
      <b-card>
        <StudentActives />
        <hr />
        <b-card-text>Quantidade total de estudantes cadastrados no sistema.</b-card-text>
        <template v-slot:footer>
          <small class="text-muted">Valores gerados com dados atualizados</small>
        </template>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import RegistrationStudent from "../charts/RegistrationStudent";
import StudentActives from "../charts/StudentActives";

export default {
  name: "StudentData",
  components: {
    PageTitle,
    RegistrationStudent,
    StudentActives
  },
  methods: {}
};
</script>
<style>
h3 {
  text-align: center;
}
</style>