<template>
  <div class="Bank">
    <PageTitle icon="fa fa-archive" main="Caixa" sub />

    <!--MODAL V D-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModalView"
      centered
      id="my-modal"
      :title="titleModal"
    >
      <b-form>
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group label="Nome:" label-for="mainDados-sale">
              <b-input-group prepend="R$ ">
                <b-form-input
                  id="mainDados-sale"
                  v-model="mainDadosView.sale"
                  required
                  :readonly="mode!='save'"
                  placeholder="Valor inicial do caixa"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>

          <b-col md="4" sm="12">
            <b-form-group label="Exercício:" label-for="mainDados-exercise_bank">
              <b-form-spinbutton
                id="sb-exercise"
                v-model="mainDadosView.exercise_bank"
                inline
                required
                placeholder="Exercício do caixa."
                min="2019"
                max="9999"
                :disabled="mode!='save'"
              ></b-form-spinbutton>
            </b-form-group>
          </b-col>
          <b-col md="2" sm="12">
            <b-form-group label="Ativo: " label-for="mainDados-active">
              <b-form-checkbox
                id="mainDados-active"
                v-model="mainDadosView.active"
                name="checkbox-active"
                value="true"
                :disabled="mode!='save'"
                unchecked-value="false"
                class="mt-3"
              >Ativo</b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button
              variant="danger"
              v-if="mode==='remove'"
              @click="remover(), showMainModal=false"
            >Remover</b-button>
          </b-col>
          <b-col md="2" sm="12" v-if="mode=='remove'">
            <b-button class="ml-2" @click="reset(), showMainModalView=false">Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!--MODAL P P-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModal"
      centered
      id="my-modal"
      :title="titleModal"
      hide-header-close
    >
      <b-form @submit.stop.prevent="salvar(), showMainModal=false">
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group
              label="Nome:"
              label-for="mainDados-sale"
              :invalid-feedback="invalidSale"
              :state="stateSale"
            >
              <b-input-group prepend="R$ ">
                <b-form-input
                  id="mainDados-sale"
                  v-model="mainDados.sale"
                  required
                  :readonly="mode ==='remove'||mode==='view'"
                  placeholder="Valor inicial do caixa"
                  :state="stateSale"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>

          <b-col md="4" sm="12">
            <b-form-group
              label="Exercício:"
              label-for="mainDados-exercise_bank"
              :invalid-feedback="invalidExercise"
              :state="stateExercise"
            >
              <b-form-spinbutton
                id="sb-exercise"
                v-model="mainDados.exercise_bank"
                inline
                required
                placeholder="Exercício do caixa."
                min="2019"
                max="9999"
                :disabled="mode!='save'"
                :state="stateExercise"
              ></b-form-spinbutton>
            </b-form-group>
          </b-col>
          <b-col md="2" sm="12">
            <b-form-group label="Ativo: " label-for="mainDados-active">
              <b-form-checkbox
                id="mainDados-active"
                v-model="mainDados.active"
                name="checkbox-active"
                value="true"
                :disabled="mode!='save'"
                unchecked-value="false"
                class="mt-3"
              >Ativo</b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button variant="primary" v-if="mode==='save'" type="submit">Salvar</b-button>
          </b-col>
          <b-col md="2" sm="12">
            <b-button class="ml-2" @click="reset(), showMainModal=false">Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <div>
      <b-button variant="outline-primary" @click="loadMains(), showMainTable = true">
        <i class="fa fa-search"></i>Pesquisar
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-success"
        @click="mode='save', showMainModal=true, titleModal='Novo Cadastro'"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>Novo Cadastro
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-info"
        @click="showReports = !showReports, titleModal='Selectione um Relatório'"
      >
        <i class="fa fa-print" aria-hidden="true">Realtórios</i>
      </b-button>
      <b-button class="ml-2" variant="outline-dark" @click="showFilter = !showFilter">
        <i class="fa fa-filter" aria-hidden="true">Filtros</i>
      </b-button>
      <div class="mt-3" v-show="showFilter">
        <b-button variant="outline-secondary" @click="cleanFilter">
          <i class="fa fa-pencil-square-o" aria-hidden="true">Limpar Filtros</i>
        </b-button>
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Nome:" label-for="filterDados-exercise_bank">
                <b-form-input
                  id="filterDados-exercise_bank"
                  v-model="filterDados.exercise_bank"
                  placeholder="Exercício: "
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <div class="mt-3" v-show="showReports">
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Selecione um Relatório:" label-for="report">
                <b-form-select
                  id="report"
                  v-model="reportSelect"
                  :options="optionsReports"
                  class="mb-3"
                  required
                  :readonly="mode ==='remove'"
                  text-field="name"
                  value="name"
                  disabled-field="notEnabled"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col md="3" sm="12">
              <b-form-group label="Emitir: ">
                <b-button variant="info" @click="report">Emitir Relatorio</b-button>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <b-table
        v-show="showMainTable"
        class="mt-2"
        fixed
        responsive
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableMain"
        :fields="fieldsMaind"
        sort-by="id"
        sort-desc
        :tbody-tr-class="ifRow"
      >
        <template v-slot:cell(actions)="row">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="loadMainView(row.item, 'view'), showMainModalView=true, titleModal='Visualizar'"
            class="mr-2"
          >
            <i class="fa fa-eye"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Alterar"
            variant="warning"
            @click="loadMain(row.item), showMainModal=true, titleModal='Alteração de Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-pencil"></i>
          </b-button>
        </template>
      </b-table>
      <b-pagination
        v-show="showMainTable"
        v-model="page"
        align="center"
        :per-page="perPage"
        :total-rows="totalCount"
      ></b-pagination>
    </div>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Bank",
  data: function() {
    return {
      showMainModal: false,
      showMainModalView: false,
      showAppendModal: false,
      showFilter: false,
      showReports: false,
      showMainTable: false,
      showNewFile: false,
      titleModal: null,
      reportSelect: null,
      inputFile: null,
      fileDados: {},
      filterDados: {},
      mainDados: {
        sale: 0,
        exercise_bank: Date.getFullYear
      },
      mainDadosView: {},
      selectStreets: [],
      selectDistricts: [],
      itensTableAppends: [],
      itensTableMain: [],
      page: 1,
      perPage: 7,
      totalCount: 0,
      mode: "save",
      fieldsMaind: [
        { key: "id", label: "Código", sortable: true },
        { key: "sale", label: "Valor", sortable: true },
        { key: "exercise_bank", label: "Exercício", sortable: true },

        { key: "actions", label: "Ações" }
      ],
      fieldsAppends: [
        { key: "id", label: "Código", sortable: true },
        { key: "description", label: "Descrição" },
        { key: "actions", label: "Ações" }
      ],
      optionsReports: [
        {
          value: null,
          name: "Selecione um relatório",
          notEnabled: true,
          disable: true
        },
        { value: "basic", name: "Básico" }
      ]
    };
  },
  components: {
    PageTitle
  },
  computed: {
    //BEGIN STATE
    stateSale() {
      if (this.mainDados.sale > 0) {
        return true;
      } else {
        return false;
      }
    },
    stateExercise() {
      if (this.mainDados.exercise_bank >= 2019) {
        return true;
      } else {
        return false;
      }
    },
    //END STATE
    //BEGIN VALID/INVALID
    //SALE
    invalidSale() {
      if (this.mainDados.sale.length <= 0) {
        return "Campo obrigatório";
      }
    },
    //EXERCISE
    invalidExercise() {
      if (this.mainDados.exercise_bank <= 0) {
        return "Campo obrigatório";
      }
    }
  },
  watch: {
    page() {
      this.loadMains();
    }
  },
  mounted() {
    this.loadDistricts();
    this.loadStreets();
  },
  methods: {
    ...mapActions(["validateToken", "validateTokenRefresh"]),
    anoAtual() {
      return new Date().getFullYear;
    },
    reset() {
      this.mode = "save";
      this.mainDados = {
        sale: 0,
        exercise_bank: Date.getFullYear
      };
    },
    resetFile() {
      (this.inputFile = null),
        (this.showNewFile = null),
        (this.fileData = null);
    },
    cleanFilter() {
      this.filterDados = {};
    },
    loadMainAppend(appen) {
      this.append = { ...appen };
    },
    showFile(pathData) {
      window.open(pathData.path);
    },
    loadMain(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDados = { ...mainDados };
      this.mainDados.exercise_bank = parseInt(mainDados.exercise_bank);
    },
    loadMainView(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDadosView = { ...mainDados };
      this.mainDadosView.exercise_bank = parseInt(mainDados.exercise_bank);
    },
    ifRow(item, type) {
      return item.active == true ? "" : "table-danger";
    },
    loadMains() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
      }

      const url = `${baseApiUrlResource}/banks?page=${this.page}&size=${this.perPage}${filterDados}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableMain = resposta.data.content;
              this.totalCount = Number(resposta.data.totalElements);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadMainAppends() {
      const url = `${baseApiUrlResource}/banks/appends?associationId=${this.mainDados.id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableAppends = resposta.data.content;
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadStreets() {
      const url = `${baseApiUrlResource}/streets`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectStreets = resposta.data.content.map(street => {
                return {
                  ...street,
                  value: { id: street.id },
                  name: street.name_street
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadDistricts() {
      const url = `${baseApiUrlResource}/districts`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectDistricts = resposta.data.content.map(generic => {
                return {
                  ...generic,
                  value: { id: generic.id },
                  name: generic.name_district
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    pesquisarCep(cep) {
      var formData = new FormData();
      delete axios.defaults.headers.common["Authorization"];

      formData.append("Access-Control-Allow-Origin", "*");
      const result = "";
      const url = `https://viacep.com.br/ws/${cep}/json`;

      axios.get(url, formData).then(res => {
        document.getElementById("mainDados-city").value = res.data.localidade;
        this.mainDados.city = res.data.localidade;
        document.getElementById("mainDados-uf").value = res.data.uf;
        this.mainDados.uf = res.data.uf;
      });
    },

    salvar() {
      const method = this.mainDados.id ? "put" : "post";
      const id = this.mainDados.id ? `/${this.mainDados.id}` : "";

      const url = `${baseApiUrlResource}/banks${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, this.mainDados, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.reset();
              this.loadMains();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    remover() {
      const id = this.mainDadosView.id;

      const method = this.mainDadosView.id ? "delete" : "get";

      const url = `${baseApiUrlResource}/banks/${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          }).then(resposta => {
            this.$toasted.global.defaultSuccess();
            this.reset();
            this.loadMains();
          });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    novoArquivo() {
      const url = `${baseApiUrlResource}/banks/appends/send`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          let form = new FormData();

          form.append("document", this.inputFile);

          axios
            .post(`${url}`, form, {
              headers: {
                Authorization: "Bearer " + res.data.access_token,
                "Content-Type": "multipart/form-data"
              }
            })
            .then(resposta => {
              //this.$toasted.global.defaultSuccess();

              this.resetFile();

              const path = JSON.stringify(resposta.data)
                .substring(52)
                .replace(/"/g, "");

              const f = this.novoCaminhoArquivo(path);
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    novoCaminhoArquivo(path) {
      const url = `${baseApiUrlResource}/banks/appends`;

      this.fileDados.path = path;
      this.fileDados.association = { id: this.mainDados.id };

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .post(`${url}`, this.fileDados, {
              headers: {
                "Content-Type": "application/json",
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMainAppends();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    deleteFile() {
      console.log(this.append.id);

      const url = `${baseApiUrlResource}/banks/appends/${this.append.id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .delete(`${url}`, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMainAppends();
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    report() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados = "?";
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
      }

      var url = "";

      if (this.reportSelect) {
        url =
          this.reportSelect == "basic"
            ? `${baseApiUrlResource}/reports/banks${filterDados}`
            : "";
      } else {
        url = "";
      }

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              var arrrayBuffer = base64ToArrayBuffer(resposta.data);
              function base64ToArrayBuffer(base64) {
                var binaryString = window.atob(base64);
                var binaryLen = binaryString.length;
                var bytes = new Uint8Array(binaryLen);
                for (var i = 0; i < binaryLen; i++) {
                  var ascii = binaryString.charCodeAt(i);
                  bytes[i] = ascii;
                }
                return bytes;
              }
              var blob = new Blob([arrrayBuffer], { type: "application/pdf" });
              var link = window.URL.createObjectURL(blob);
              window.open(link);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    }
  }
};
</script>
<style>
</style>