<template>
  <div class="input">
    <PageTitle icon="fa fa-arrow-up" main="Entradas" sub />

    <!--MODAL V D-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModalView"
      centered
      id="my-modal"
      :title="titleModal"
    >
      <b-form>
        <b-row>
          <b-col md="3" sm="12">
            <b-form-group label="Valor:" label-for="mainDados-amount_transaction">
              <b-input-group prepend="R$ ">
                <b-form-input
                  id="mainDados-amount_transaction"
                  v-model="mainDadosView.amount_transaction"
                  required
                  :readonly="mode!='save'"
                  placeholder="0,00"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col md="6" sm="12" v-show="mode=='estorno'||mode=='cancel' || mode=='view'">
            <b-form-group label="Protocolo:" label-for="mainDados-protocol_transaction">
              <b-form-input
                id="mainDados-protocol_transaction"
                v-model="mainDadosView.protocol_transaction"
                required
                readonly
                placeholder="Protocolo da transação."
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" sm="12" v-show="mode=='estorno'||mode=='cancel' || mode=='view'">
            <b-form-group label="Tipo:" label-for="mainDados-type_transaction">
              <b-form-input
                id="mainDados-type_transaction"
                v-model="mainDadosView.type_transaction"
                required
                readonly
                placeholder="Tipo da transação."
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="3" sm="12">
            <b-form-group label="Receita:" label-for="mainDados-recipe">
              <b-form-select
                id="mainDados-recipe"
                v-model="mainDadosView.recipe"
                :options="selectRecipes"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="name"
                disabled-field="notEnabled"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="12" sm="12">
            <b-form-group label="Descrição:" label-for="mainDados-description">
              <b-form-textarea
                id="mainDados-description"
                v-model="mainDadosView.description"
                placeholder="Descrição da Emtrada"
                :readonly="mode!='save'"
              ></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button
              variant="danger"
              v-if="mode==='estorno'||mode=='cancel'"
              @click="estornar(), showMainModalView=false"
            >Confirmar</b-button>
          </b-col>
          <b-col md="2" sm="12" v-if="mode=='remove' || mode==='estorno'">
            <b-button class="ml-2" @click="reset(), showMainModalView=false">Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!--MODAL P P-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModal"
      centered
      id="my-modal"
      :title="titleModal"
      hide-header-close
    >
      <b-form @submit.stop.prevent="salvar(), showMainModal=false">
        <b-row>
          <b-col md="3" sm="12">
            <b-form-group
              label="Valor:"
              label-for="mainDados-amount_transaction"
              :invalid-feedback="invalidAmmount"
              :state="stateAmmount"
            >
              <b-input-group prepend="R$ ">
                <b-form-input
                  id="mainDados-amount_transaction"
                  v-model="mainDados.amount_transaction"
                  required
                  :readonly="mode!='save'"
                  placeholder="0.00"
                  :state="stateAmmount"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col md="6" sm="12" v-show="mode=='estorno'||mode=='cancel' || mode=='view'">
            <b-form-group label="Protocolo:" label-for="mainDados-protocol_transaction">
              <b-form-input
                id="mainDados-protocol_transaction"
                v-model="mainDados.protocol_transaction"
                required
                readonly
                placeholder="Protocolo da transação."
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" sm="12" v-show="mode=='estorno'||mode=='cancel' || mode=='view'">
            <b-form-group
              label="Tipo:"
              label-for="mainDados-type_transaction"
              :invalid-feedback="invalidType"
              :state="stateType"
            >
              <b-form-input
                id="mainDados-type_transaction"
                v-model="mainDados.type_transaction"
                required
                readonly
                placeholder="Tipo da transação."
                :state="stateType"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="3" sm="12">
            <b-form-group
              label="Receita:"
              label-for="mainDados-recipe"
              :invalid-feedback="invalidRecipe"
              :state="stateRecipe"
            >
              <b-form-select
                id="mainDados-recipe"
                v-model="mainDados.recipe"
                :options="selectRecipes"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="name"
                disabled-field="notEnabled"
                :state="stateRecipe"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="12" sm="12">
            <b-form-group
              label="Descrição:"
              label-for="mainDados-description"
              :invalid-feedback="invalidDescription"
              :state="stateDescription"
            >
              <b-form-textarea
                id="mainDados-description"
                v-model="mainDados.description"
                placeholder="Descrição da Emtrada"
                :readonly="mode!='save'"
                :state="stateDescription"
              ></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button variant="primary" v-if="mode==='save'" type="submit">Salvar</b-button>
          </b-col>
          <b-col md="2" sm="12">
            <b-button
              class="ml-2"
              @click="reset(), showMainModal=false"
              v-if="mode!='view'"
            >Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <div>
      <b-button variant="outline-primary" @click="loadMains(), showMainTable = true">
        <i class="fa fa-search"></i>Pesquisar
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-success"
        @click="mode='save', showMainModal=true, titleModal='Nova Transação'"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>Novo Cadastro
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-info"
        @click="showReports = !showReports, titleModal='Selectione um Relatório'"
      >
        <i class="fa fa-print" aria-hidden="true">Realtórios</i>
      </b-button>
      <b-button class="ml-2" variant="outline-dark" @click="showFilter = !showFilter">
        <i class="fa fa-filter" aria-hidden="true">Filtros</i>
      </b-button>
      <div class="mt-3" v-show="showFilter">
        <b-button variant="outline-secondary" @click="cleanFilter">
          <i class="fa fa-pencil-square-o" aria-hidden="true">Limpar Filtros</i>
        </b-button>
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Protocolo:" label-for="filterDados-protocolTransaction">
                <b-form-input
                  id="filterDados-protocolTransaction"
                  v-model="filterDados.protocolTransaction"
                  placeholder="Protocolo da transação"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col md="4" sm="12">
              <b-form-group label="Valor:" label-for="filterDados-description">
                <b-input-group prepend="R$ ">
                  <b-form-input
                    id="filter-amountTransaction"
                    v-model="filterDados.amountTransaction"
                    placeholder="Valor da transação."
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Inseriu:" label-for="filterDados-createUser">
                <b-form-datepicker
                  id="filter-createUser"
                  placeholder="Data de início"
                  locale="pt-BR"
                  hide-header
                  show-decade-nav
                  dark
                  required
                  v-model="filterDados.dateBegin"
                  :disabled="mode!='save'"
                  label-help="Selecione uma Data"
                ></b-form-datepicker>
              </b-form-group>
            </b-col>
            <b-col md="4" sm="12">
              <b-form-group label="Alterou:" label-for="filterDados-updateUser">
                <b-form-datepicker
                  id="filter-updateUser"
                  placeholder="Data Final"
                  locale="pt-BR"
                  hide-header
                  show-decade-nav
                  dark
                  required
                  v-model="filterDados.dateEnd"
                  :disabled="mode!='save'"
                  label-help="Selecione uma Data"
                ></b-form-datepicker>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <div class="mt-3" v-show="showReports">
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Selecione um Relatório:" label-for="report">
                <b-form-select
                  id="report"
                  v-model="reportSelect"
                  :options="optionsReports"
                  class="mb-3"
                  required
                  :readonly="mode ==='remove'"
                  text-field="name"
                  value="name"
                  disabled-field="notEnabled"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col md="3" sm="12">
              <b-form-group label="Emitir: ">
                <b-button variant="info" @click="report">Emitir Relatorio</b-button>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <b-table
        v-show="showMainTable"
        class="mt-2"
        fixed
        responsive
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableUsers"
        :fields="fieldsMain"
        sort-by="id"
        sort-desc
        :tbody-tr-class="ifRow"
      >
        <template v-slot:cell(actions)="row">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="loadMainView(row.item, 'view'), showMainModalView=true, titleModal='Visualizar'"
            class="mr-2"
          >
            <i class="fa fa-eye"></i>
          </b-button>
          <b-button
            pill
            v-b-tooltip.hover
            title="Estornar"
            variant="warning"
            v-if="row.item.type_transaction=='Entrada'"
            @click="loadMainView(row.item, 'remove'), showMainModalView=true, titleModal='Estornar', mode='estorno', estorno='Cancelado'"
            class="mr-2"
          >
            <i class="fa fa-fast-backward"></i>
          </b-button>
          <b-button
            pill
            v-b-tooltip.hover
            title="Cancelar Estorno"
            variant="danger"
            v-if="row.item.type_transaction=='Cancelado'"
            @click="loadMainView(row.item, 'remove'), showMainModalView=true, titleModal='Cancelar Estorno', mode ='cancel', estorno='Entrada'"
            class="mr-2"
          >
            <i class="fa fa-ban"></i>
          </b-button>
        </template>
      </b-table>
      <b-pagination
        v-show="showMainTable"
        v-model="page"
        align="center"
        :per-page="perPage"
        :total-rows="totalCount"
      ></b-pagination>
    </div>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Input",
  data: function() {
    return {
      showMainModal: false,
      showMainModalView: false,
      showAppendModal: false,
      showFilter: false,
      showReports: false,
      showMainTable: false,
      showNewFile: false,
      titleModal: null,
      reportSelect: null,
      inputFile: null,
      estorno: null,
      fileDados: {},
      filterDados: {},
      mainDados: {
        type_transaction: "",
        amount_transaction: "",
        protocol_transaction: "",
        description: "",
        recipe: { id: "" }
      },
      mainDadosView: {},
      selectRecipes: [],
      selectDistricts: [],
      itensTableAppends: [],
      itensTableUsers: [],
      page: 1,
      perPage: 7,
      totalCount: 0,
      mode: "save",
      fieldsMain: [
        { key: "id", label: "Código", sortable: true },
        { key: "amount_transaction", label: "Valor", sortable: true },
        { key: "type_transaction", label: "Transação", sortable: true },
        {
          key: "createDate",
          label: "Data",
          formatter: value => {
            return new Date(value).toLocaleString();
          },
          sortable: true
        },
        { key: "actions", label: "Ações" }
      ],
      fieldsAppends: [
        { key: "id", label: "Código", sortable: true },
        { key: "description", label: "Descrição" },
        { key: "actions", label: "Ações" }
      ],
      optionsReports: [
        {
          value: null,
          name: "Selecione um relatório",
          notEnabled: true,
          disable: true
        },
        { value: "basic", name: "Básico" },
        { value: "detail", name: "Detalhado" }
      ]
    };
  },
  components: {
    PageTitle
  },
  computed: {
    //BEGIN STATE
    stateAmmount() {
      if (this.mainDados.amount_transaction > 0) {
        return true;
      } else {
        return false;
      }
    },
    stateDescription() {
      if (
        this.mainDados.description.length >= 5 &&
        this.mainDados.description.length < 500
      ) {
        return true;
      } else {
        return false;
      }
    },
    stateType() {
      if (this.mainDados.type_transaction.length == 0) {
        return false;
      } else {
        return true;
      }
    },
    stateRecipe() {
      if (this.mainDados.recipe.id == 0) {
        return false;
      } else {
        return true;
      }
    },
    //END STATE
    //BEGIN VALID/INVALID
    //AMMOUNT
    invalidAmmount() {
      if (this.mainDados.amount_transaction.length <= 0) {
        return "Campo obrigatório";
      }
    },
    //DESCRIPTION
    invalidDescription() {
      if (
        this.mainDados.description.length > 0 &&
        this.mainDados.description.length < 5
      ) {
        return "Insira no mínimo 5 digitos";
      } else if (this.mainDados.description.length > 500) {
        return "Insira no máximo 500 digitos";
      } else {
        return "Campo obrigatório";
      }
    },
    invalidType() {
      return this.stateType === true ? "" : "Seleção obrigatória";
    },
    invalidRecipe() {
      return this.stateRecipe === true ? "" : "Seleção obrigatória";
    }
  },
  watch: {
    page() {
      this.loadMains();
    }
  },
  mounted() {
    this.loadRecipes();
  },
  methods: {
    ...mapActions(["validateToken", "validateTokenRefresh"]),
    reset() {
      this.mode = "save";
      this.mainDados = {
        type_transaction: "",
        amount_transaction: "",
        protocol_transaction: "",
        description: "",
        recipe: { id: "" }
      };
      this.showMainModal = false;
    },
    resetFile() {
      (this.inputFile = null),
        (this.showNewFile = null),
        (this.fileData = null);
    },
    cleanFilter() {
      this.filterDados = {};
    },
    loadMainAppend(appen) {
      this.append = { ...appen };
    },
    showFile(pathData) {
      window.open(pathData.path);
    },
    loadMain(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDados = { ...mainDados };
      this.mainDados.recipe = { id: mainDados.recipe.id };
    },
    loadMainView(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDadosView = { ...mainDados };
      this.mainDadosView.recipe = { id: mainDados.recipe.id };
    },
    ifRow(item, type) {
      if (item.type_transaction == "Entrada") {
        return "";
      } else if (item.type_transaction == "Cancelado") {
        return "table-warning";
      }
    },
    loadMains() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados += this.filterDados.protocolTransaction
          ? `&protocolTransaction=${this.filterDados.protocolTransaction}`
          : "";
        filterDados += this.filterDados.description
          ? `&description=${this.filterDados.description}`
          : "";
        filterDados += this.filterDados.dateBegin
          ? `&dateBegin=${this.filterDados.dateBegin} 00:00:00`
          : "";
        filterDados += this.filterDados.dateEnd
          ? `&dateEnd=${this.filterDados.dateEnd} 23:59:59`
          : "";
        filterDados += this.filterDados.amountTransaction
          ? `&amountTransaction=${this.filterDados.amountTransaction}`
          : "";
      }

      const url = `${baseApiUrlResource}/inputs?page=${this.page}&size=${this.perPage}${filterDados}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableUsers = resposta.data.content;
              this.totalCount = Number(resposta.data.totalElements);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    loadRecipes() {
      const url = `${baseApiUrlResource}/recipes`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectRecipes = resposta.data.content.map(street => {
                return {
                  ...street,
                  value: { id: street.id },
                  name: street.name
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    salvar() {
      const method = this.mainDados.id ? "put" : "post";
      const id = this.mainDados.id ? `/${this.mainDados.id}` : "";

      const url = `${baseApiUrlResource}/inputs${id}`;

      this.mainDados.type_transaction = "Entrada";

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, this.mainDados, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.reset();
              this.loadMains();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    estornar() {
      const id = this.mainDadosView.id;

      const url = `${baseApiUrlResource}/inputs/${id}/active`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .put(`${url}`, this.estorno, {
              headers: {
                "Content-Type": "application/json",
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.reset();
              this.loadMains();
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    report() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados = "?";
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
        filterDados += this.filterDados.identification
          ? `&identification=${this.filterDados.identification}`
          : "";
        filterDados += this.filterDados.active
          ? `&active=${this.filterDados.active}`
          : "";
      }

      var url = "";

      if (this.reportSelect) {
        if (this.reportSelect == "basic") {
          url = `${baseApiUrlResource}/reports/inputs${filterDados}`;
        }
        if (this.reportSelect == "detail") {
          url = `${baseApiUrlResource}/reports/inputs/detail${filterDados}`;
        }
      } else {
        url = "";
      }

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              var arrrayBuffer = base64ToArrayBuffer(resposta.data);
              function base64ToArrayBuffer(base64) {
                var binaryString = window.atob(base64);
                var binaryLen = binaryString.length;
                var bytes = new Uint8Array(binaryLen);
                for (var i = 0; i < binaryLen; i++) {
                  var ascii = binaryString.charCodeAt(i);
                  bytes[i] = ascii;
                }
                return bytes;
              }
              var blob = new Blob([arrrayBuffer], { type: "application/pdf" });
              var link = window.URL.createObjectURL(blob);
              window.open(link);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    }
  }
};
</script>
<style>
</style>