<template>
  <div class="SupportCityHall">
    <PageTitle icon="fa fa-handshake-o" main="Auxílio" sub />

    <!--MODAL V D-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModalView"
      centered
      id="my-modal"
      :title="titleModal"
    >
      <b-form>
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group label="Nome:" label-for="mainDados-ammount">
              <b-input-group prepend="R$ ">
                <b-form-input
                  id="mainDados-ammount"
                  v-model="mainDadosView.ammount"
                  required
                  :readonly="mode ==='remove'||mode==='view'"
                  placeholder="Valor do Auxílio"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col md="2" sm="12">
            <b-form-group label="Mês:" label-for="mainDados-mounth_reference">
              <b-form-spinbutton
                id="mainDados-mounth_reference"
                v-model="mainDadosView.mounth_reference"
                inline
                required
                min="1"
                max="12"
                :disabled="mode!='save'"
                placeholder="0"
              ></b-form-spinbutton>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12" sm="12">
            <b-form-group label="Descrição:" label-for="mainDados-description">
              <b-form-textarea
                id="mainDados-description"
                v-model="mainDadosView.description"
                placeholder="Descrição do auxílio"
                :readonly="mode ==='remove'||mode==='view'"
              ></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button
              variant="danger"
              v-if="mode==='remove'"
              @click="remover(), showMainModalView=false"
            >Remover</b-button>
          </b-col>
          <b-col md="2" sm="12" v-if="mode=='remove'">
            <b-button class="ml-2" @click="reset(), showMainModalView=false">Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!--MODAL P P-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModal"
      centered
      id="my-modal"
      :title="titleModal"
      hide-header-close
    >
      <b-form @submit.stop.prevent="salvar(), showMainModal=false">
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group
              label="Nome:"
              label-for="mainDados-ammount"
              :invalid-feedback="invalidAmmount"
              :state="stateAmmount"
            >
              <b-input-group prepend="R$ ">
                <b-form-input
                  id="mainDados-ammount"
                  v-model="mainDados.ammount"
                  required
                  :readonly="mode ==='remove'||mode==='view'"
                  placeholder="Valor do Auxílio"
                  :state="stateAmmount"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col md="2" sm="12">
            <b-form-group
              label="Mês:"
              label-for="mainDados-mounth_reference"
              :invalid-feedback="invalidMounth"
              :state="stateMounth"
            >
              <b-form-spinbutton
                id="mainDados-mounth_reference"
                v-model="mainDados.mounth_reference"
                inline
                required
                min="1"
                max="12"
                :disabled="mode!='save'"
                placeholder="0"
                :state="stateMounth"
                trim
              ></b-form-spinbutton>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12" sm="12">
            <b-form-group
              label="Descrição:"
              label-for="mainDados-description"
              :invalid-feedback="invalidDescription"
              :state="stateDescription"
            >
              <b-form-textarea
                id="mainDados-description"
                v-model="mainDados.description"
                required
                placeholder="Descrição do auxílio"
                :readonly="mode ==='remove'||mode==='view'"
                :state="stateDescription"
              ></b-form-textarea>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button variant="primary" v-if="mode==='save'" type="submit">Salvar</b-button>
          </b-col>
          <b-col md="2" sm="12">
            <b-button class="ml-2" @click="reset(), showMainModal=false">Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showAppendModal"
      centered
      id="my-anex-modal"
      :title="titleModal"
    >
      <div class="mt-2 mb-2">
        Arquivos de: {{mainDados.name}}
        <b-button
          class="ml-2 mr-2"
          variant="outline-success"
          @click="mode='save', showNewFile=true"
        >
          <i class="fa fa-file" aria-hidden="true"></i>Novo Arquivo
        </b-button>
        <b-form v-show="showNewFile" class="mt-4">
          <hr v-show="showNewFile" />
          <b-form-file v-show="showNewFile" v-model="inputFile" class="mt-3" plain></b-form-file>

          <b-row>
            <b-col md="12" sm="12">
              <b-form-group label="Descrição:" label-for="file-description">
                <b-form-input
                  id="file-description"
                  v-model="fileDados.description"
                  required
                  :readonly="mode ==='remove'"
                  placeholder="Informe a Descrição"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6" sm="0"></b-col>
            <b-col md="3" sm="12">
              <b-button
                class="ml-5 mr-2"
                variant="outline-primary"
                v-show="showNewFile"
                @click="novoArquivo"
              >
                <i class="fa fa-paper-plane" aria-hidden="true"></i>Enviar
              </b-button>
            </b-col>
            <b-col md="3" sm="12">
              <b-button
                class="ml-2 mr-2"
                variant="outline-danger"
                v-show="showNewFile"
                @click="mode= 'save', showNewFile=false"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>Cancelar
              </b-button>
            </b-col>
          </b-row>
        </b-form>
      </div>

      <hr />
      <b-table
        class="mt-2"
        sticky-header
        responsive
        striped
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableAppends"
        :fields="fieldsAppends"
      >
        <template v-slot:cell(actions)="row">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="showFile(row.item)"
            class="mr-2"
          >
            <i class="fa fa-eye" aria-hidden="true"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Excluir"
            variant="danger"
            class="mr-2"
            @click="loadMainAppend(row.item), deleteFile()"
          >
            <i class="fa fa-trash"></i>
          </b-button>
        </template>
      </b-table>
    </b-modal>

    <div>
      <b-button variant="outline-primary" @click="loadMains(), showMainTable = true">
        <i class="fa fa-search"></i>Pesquisar
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-success"
        @click="mode='save', showMainModal=true, titleModal='Novo Cadastro'"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>Novo Cadastro
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-info"
        @click="showReports = !showReports, titleModal='Selectione um Relatório'"
      >
        <i class="fa fa-print" aria-hidden="true">Realtórios</i>
      </b-button>
      <b-button class="ml-2" variant="outline-dark" @click="showFilter = !showFilter">
        <i class="fa fa-filter" aria-hidden="true">Filtros</i>
      </b-button>
      <div class="mt-3" v-show="showFilter">
        <b-button variant="outline-secondary" @click="cleanFilter">
          <i class="fa fa-pencil-square-o" aria-hidden="true">Limpar Filtros</i>
        </b-button>
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Nome:" label-for="filterDados-name">
                <b-form-input
                  id="filterDados-name"
                  v-model="filterDados.name"
                  placeholder="Nome da Instituição"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col md="4" sm="12">
              <b-form-group label="Referência:" label-for="filterDados-mounth_reference">
                <b-form-input
                  id="filter-mounth_reference"
                  v-model="filterDados.mounth_reference"
                  placeholder="Mês Referência"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <div class="mt-3" v-show="showReports">
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Selecione um Relatório:" label-for="report">
                <b-form-select
                  id="report"
                  v-model="reportSelect"
                  :options="optionsReports"
                  class="mb-3"
                  required
                  :readonly="mode ==='remove'"
                  text-field="name"
                  value="name"
                  disabled-field="notEnabled"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col md="3" sm="12">
              <b-form-group label="Emitir: ">
                <b-button variant="info" @click="report">Emitir Relatorio</b-button>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <b-table
        v-show="showMainTable"
        class="mt-2"
        fixed
        responsive
        striped
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableMain"
        :fields="fieldsMaind"
        sort-by="id"
        sort-desc
      >
        <template v-slot:cell(actions)="row">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="loadMainView(row.item, 'view'), showMainModalView=true, titleModal='Visualizar'"
            class="mr-2"
          >
            <i class="fa fa-eye"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Alterar"
            variant="warning"
            @click="loadMain(row.item), showMainModal=true, titleModal='Alteração de Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-pencil"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Excluir"
            variant="danger"
            @click="loadMainView(row.item, 'remove'), showMainModalView=true, titleModal='Excluir Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-trash"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Anexos"
            variant="primary"
            @click="loadMain(row.item), loadMainAppends(),showAppendModal=true, titleModal='Anexos'"
            class="mr-2"
          >
            <i class="fa fa-paperclip"></i>
          </b-button>
        </template>
      </b-table>
      <b-pagination
        v-show="showMainTable"
        v-model="page"
        align="center"
        :per-page="perPage"
        :total-rows="totalCount"
      ></b-pagination>
    </div>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "SupportCityHall",
  data: function() {
    return {
      showMainModal: false,
      showMainModalView: false,
      showAppendModal: false,
      showFilter: false,
      showReports: false,
      showMainTable: false,
      showNewFile: false,
      titleModal: null,
      reportSelect: null,
      inputFile: null,
      fileDados: {},
      filterDados: {},
      mainDados: {
        ammount: 0.0,
        mounth_reference: 0,
        description: ""
      },
      mainDadosView: {},
      selectStreets: [],
      selectDistricts: [],
      itensTableAppends: [],
      itensTableMain: [],
      page: 1,
      perPage: 7,
      totalCount: 0,
      mode: "save",
      fieldsMaind: [
        { key: "id", label: "Código", sortable: true },
        { key: "ammount", label: "Valor", sortable: true },
        { key: "mounth_reference", label: "Mês", sortable: true },

        { key: "actions", label: "Ações" }
      ],
      fieldsAppends: [
        { key: "id", label: "Código", sortable: true },
        { key: "description", label: "Descrição" },
        { key: "actions", label: "Ações" }
      ],
      optionsReports: [
        {
          value: null,
          name: "Selecione um relatório",
          notEnabled: true,
          disable: true
        },
        { value: "basic", name: "Básico" }
      ]
    };
  },
  components: {
    PageTitle
  },
  computed: {
    //BEGIN STATE
    stateAmmount() {
      if (this.mainDados.ammount > 0) {
        return true;
      } else {
        return false;
      }
    },
    stateMounth() {
      if (
        this.mainDados.mounth_reference > 0 &&
        this.mainDados.mounth_reference <= 12
      ) {
        return true;
      } else {
        return false;
      }
    },
    stateDescription() {
      if (
        this.mainDados.description.length >= 5 &&
        this.mainDados.description.length < 500
      ) {
        return true;
      } else {
        return false;
      }
    },
    //END STATE
    //BEGIN VALID/INVALID

    //AMMOUNT
    invalidAmmount() {
      if (this.mainDados.ammount.length <= 0) {
        return "Campo obrigatório";
      }
    },
    invalidMounth() {
      if (this.mainDados.mounth_reference <= 0) {
        return "Campo obrigatório";
      }
    },
    invalidDescription() {
      if (
        this.mainDados.description.length > 0 &&
        this.mainDados.description.length < 5
      ) {
        return "Insira no mínimo 5 digitos";
      } else if (this.mainDados.description.length > 500) {
        return "Insira no máximo 500 digitos";
      } else {
        return "Campo obrigatório";
      }
    }
  },
  watch: {
    page() {
      this.loadMains();
    }
  },
  mounted() {
    this.loadDistricts();
    this.loadStreets();
  },
  methods: {
    ...mapActions(["validateToken", "validateTokenRefresh"]),
    anoAtual() {
      return new Date().getFullYear;
    },
    reset() {
      this.mode = "save";
      this.mainDados = {
        ammount: 0.0,
        mounth_reference: 0,
        description: ""
      };
    },
    resetFile() {
      (this.inputFile = null),
        (this.showNewFile = null),
        (this.fileData = null);
    },
    cleanFilter() {
      this.filterDados = {};
    },
    loadMainAppend(appen) {
      this.append = { ...appen };
    },
    showFile(pathData) {
      window.open(pathData.path);
    },
    loadMain(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDados = { ...mainDados };
    },
    loadMainView(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDadosView = { ...mainDados };
    },
    loadMains() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
      }

      const url = `${baseApiUrlResource}/supportcityhall?page=${this.page}&size=${this.perPage}${filterDados}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableMain = resposta.data.content;
              this.totalCount = Number(resposta.data.totalElements);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadMainAppends() {
      const url = `${baseApiUrlResource}/supportcityhall/appends/?supportId=${this.mainDados.id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableAppends = resposta.data.content;
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadStreets() {
      const url = `${baseApiUrlResource}/streets`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectStreets = resposta.data.content.map(street => {
                return {
                  ...street,
                  value: { id: street.id },
                  name: street.name_street
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadDistricts() {
      const url = `${baseApiUrlResource}/districts`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectDistricts = resposta.data.content.map(generic => {
                return {
                  ...generic,
                  value: { id: generic.id },
                  name: generic.name_district
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    pesquisarCep(cep) {
      var formData = new FormData();
      delete axios.defaults.headers.common["Authorization"];

      formData.append("Access-Control-Allow-Origin", "*");
      const result = "";
      const url = `https://viacep.com.br/ws/${cep}/json`;

      axios.get(url, formData).then(res => {
        document.getElementById("mainDados-city").value = res.data.localidade;
        this.mainDados.city = res.data.localidade;
        document.getElementById("mainDados-uf").value = res.data.uf;
        this.mainDados.uf = res.data.uf;
      });
    },

    salvar() {
      const method = this.mainDados.id ? "put" : "post";
      const id = this.mainDados.id ? `/${this.mainDados.id}` : "";

      const url = `${baseApiUrlResource}/supportcityhall${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, this.mainDados, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMains();
              this.reset();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    remover() {
      const id = this.mainDadosView.id;

      const method = this.mainDadosView.id ? "delete" : "get";

      const url = `${baseApiUrlResource}/supportcityhall/${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          }).then(resposta => {
            this.$toasted.global.defaultSuccess();
            this.reset();
            this.loadMains();
          });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    novoArquivo() {
      const url = `${baseApiUrlResource}/supportcityhall/appends/send`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          let form = new FormData();

          form.append("document", this.inputFile);

          axios
            .post(`${url}`, form, {
              headers: {
                Authorization: "Bearer " + res.data.access_token,
                "Content-Type": "multipart/form-data"
              }
            })
            .then(resposta => {
              //this.$toasted.global.defaultSuccess();

              this.resetFile();

              const path = JSON.stringify(resposta.data)
                .substring(52)
                .replace(/"/g, "");

              const f = this.novoCaminhoArquivo(path);
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    novoCaminhoArquivo(path) {
      const url = `${baseApiUrlResource}/supportcityhall/appends`;

      this.fileDados.path = path;
      this.fileDados.support_cityhall = { id: this.mainDados.id };

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .post(`${url}`, this.fileDados, {
              headers: {
                "Content-Type": "application/json",
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMainAppends();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    deleteFile() {
      console.log(this.append.id);

      const url = `${baseApiUrlResource}/supportcityhall/appends/${this.append.id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .delete(`${url}`, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMainAppends();
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    report() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados = "?";
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
      }

      var url = "";

      if (this.reportSelect) {
        url =
          this.reportSelect == "basic"
            ? `${baseApiUrlResource}/reports/supportcityhall${filterDados}`
            : "";
      } else {
        url = "";
      }

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              var arrrayBuffer = base64ToArrayBuffer(resposta.data);
              function base64ToArrayBuffer(base64) {
                var binaryString = window.atob(base64);
                var binaryLen = binaryString.length;
                var bytes = new Uint8Array(binaryLen);
                for (var i = 0; i < binaryLen; i++) {
                  var ascii = binaryString.charCodeAt(i);
                  bytes[i] = ascii;
                }
                return bytes;
              }
              var blob = new Blob([arrrayBuffer], { type: "application/pdf" });
              var link = window.URL.createObjectURL(blob);
              window.open(link);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    }
  }
};
</script>
<style>
</style>