<template>
  <div class="preferences">
    <PageTitle icon="fa fa-wrench" main="Preferências" sub />

    <b-form class="ml-4 mr-1">
      <b-card no-body>
        <b-tabs card justified tabs>
          <b-tab title="Informativos" active>
            <h3>Dados Cadastrais</h3>
            <b-row>
              <b-col md="6" sm="12">
                <b-form-group label="Partida:" label-for="mainDados-localeOut">
                  <b-form-input
                    id="mainDados-localeOut"
                    v-model="mainDados.localeOut"
                    required
                    :readonly="mode!='update'"
                    placeholder="Informe o Local de Partida."
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="6" sm="12">
                <b-form-group label="Retorno:" label-for="mainDados-localeRegress">
                  <b-form-input
                    id="mainDados-localeRegress"
                    v-model="mainDados.localeRegress"
                    required
                    :readonly="mode!='update'"
                    local="br"
                    locale="pt-BR"
                    placeholder="Informe o Local de Regresso."
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="3" sm="12">
                <b-form-group label="Hora de Partida:" label-for="mainDados-hourOut">
                  <b-form-timepicker
                    id="mainDados-hourOut"
                    placeholder="Horário de Partida"
                    :disabled="mode!='update'"
                    v-model="mainDados.hourOut"
                    local="br"
                    locale="pt-BR"
                  ></b-form-timepicker>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="3" sm="12">
                <b-form-group label="Hora de Retorno:" label-for="mainDados-hourRegress">
                  <b-form-timepicker
                    id="mainDados-hourRegress"
                    placeholder="Horário de Retorno"
                    local="br"
                    locale="pt-BR"
                    :disabled="mode!='update'"
                    v-model="mainDados.hourRegress"
                  ></b-form-timepicker>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="3" sm="12">
                <b-form-group label="Hora de Chegada:" label-for="mainDados-hourComing">
                  <b-form-timepicker
                    id="mainDados-hourComing"
                    placeholder="Horário de Chegada"
                    local="br"
                    locale="pt-BR"
                    :disabled="mode!='update'"
                    v-model="mainDados.hourComing"
                  ></b-form-timepicker>
                </b-form-group>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="Valores">
            <h3>Transporte</h3>
            <b-row>
              <b-col md="3" sm="12">
                <b-form-group label="Transporte:" label-for="mainDados-amount">
                  <b-input-group prepend="R$ ">
                    <b-form-input
                      id="mainDados-amount"
                      v-model="mainDados.ammount"
                      required
                      :readonly="mode!='update'"
                      placeholder="Valor da locação do transporte."
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col md="3" sm="12">
                <b-form-group label="Km/Minímo:" label-for="mainDados-kmMin">
                  <b-input-group prepend="R$ ">
                    <b-form-input
                      id="mainDados-kmmin"
                      v-model="mainDados.kmMin"
                      required
                      :readonly="mode!='update'"
                      placeholder="Valor mínimo por Km rodado."
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col md="3" sm="12">
                <b-form-group label="Km/Máximo:" label-for="mainDados-kmMax">
                  <b-input-group prepend="R$ ">
                    <b-form-input
                      id="mainDados-kmmax"
                      v-model="mainDados.kmMax"
                      required
                      :readonly="mode!='update'"
                      placeholder="Valor máximo por Km rodado."
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
            </b-row>
            <hr />
            <h3>Contrato</h3>
            <b-row>
              <b-col md="3" sm="12">
                <b-form-group label="Contribuição de Caixa:" label-for="mainDados-contributionBank">
                  <b-input-group prepend="R$ ">
                    <b-form-input
                      id="mainDados-contributionBank"
                      v-model="mainDados.contributionBank"
                      required
                      :readonly="mode!='update'"
                      placeholder="Valor de contribuição Mensal."
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col md="3" sm="12">
                <b-form-group label="Novo contrato:" label-for="mainDados-contractValue">
                  <b-input-group prepend="R$ ">
                    <b-form-input
                      id="mainDados-contractValue"
                      v-model="mainDados.contractValue"
                      required
                      :readonly="mode!='update'"
                      placeholder="Valor de novo contrato."
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col md="3" sm="12">
                <b-form-group label="Rescisão de contrato:" label-for="mainDados-contractRecission">
                  <b-input-group prepend="R$ ">
                    <b-form-input
                      id="mainDados-contractRecission"
                      v-model="mainDados.contractRecission"
                      required
                      :readonly="mode!='update'"
                      placeholder="Valor de rescisão contrato."
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="2" sm="12">
                <b-form-group
                  label="Comunicar Rescisão:"
                  label-for="mainDados-communicationRateDate"
                >
                  <b-form-spinbutton
                    id="mainDados-communicationRateDate"
                    v-model="mainDados.communicationRateDate"
                    inline
                    required
                    min="1"
                    max="100"
                    :disabled="mode!='update'"
                    placeholder="Dias para comunicar."
                  ></b-form-spinbutton>
                </b-form-group>
              </b-col>
              <b-col md="2" sm="12">
                <b-form-group label="Duração do Contrato:" label-for="mainDados-expirationDate">
                  <b-form-spinbutton
                    id="mainDados-expirationDate"
                    v-model="mainDados.expirationDate"
                    inline
                    required
                    min="1"
                    max="365"
                    :disabled="mode!='update'"
                    placeholder="Duração em dias."
                  ></b-form-spinbutton>
                </b-form-group>
              </b-col>
              <b-col md="3" sm="12">
                <b-form-group
                  label="Rescisão não comunicada:"
                  label-for="mainDados-communicationRate"
                >
                  <b-input-group prepend="R$ ">
                    <b-form-input
                      id="mainDados-communicationRate"
                      v-model="mainDados.communicationRate"
                      required
                      :readonly="mode!='update'"
                      placeholder="Valor de rescisão não comunicada."
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col md="3" sm="12">
                <b-form-group label="Multa:" label-for="mainDados-penality">
                  <b-input-group prepend="R$ ">
                    <b-form-input
                      id="mainDados-penality"
                      v-model="mainDados.penality"
                      required
                      :readonly="mode!='update'"
                      placeholder="Multa por não pagamento."
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-tab>
          <b-tab title="Configurações">
            <h3>Controle</h3>
            <b-row>
              <b-col md="3" sm="12">
                <b-form-group label="Cálculo:" label-for="mainDados-calculationType">
                  <b-form-select
                    id="mainDados-calculationType"
                    v-model="mainDados.calculationType"
                    :options="selectTypeCalc"
                    class="mb-3"
                    required
                    :disabled="mode!='update'"
                    text-field="text"
                    disabled-field="notEnabled"
                  ></b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <hr />
            <h3>Notificações</h3>
            <b-row>
              <b-col md="4" sm="12">
                <b-form-group
                  label="E-mail:"
                  label-for="mainDados-email"
                  description="Seu e-mail não será compartilhado."
                >
                  <b-form-input
                    id="mainDados-email"
                    v-model="mainDados.email"
                    required
                    :readonly="mode!='update'"
                    type="email"
                    placeholder="Informe o E-mail principal."
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="3" sm="12">
                <b-form-group
                  label="Encerrar Mês: "
                  label-for="mainDados-notificationEndMounth"
                  description="Notificar-me sobre o encerramento da mensalidade."
                >
                  <b-form-checkbox
                    id="mainDados-notificationEndMounth"
                    v-model="mainDados.notificationEndMounth"
                    name="checkbox-active"
                    value="true"
                    :disabled="mode!='update'"
                    unchecked-value="false"
                    class="mt-3"
                  >Ativo</b-form-checkbox>
                </b-form-group>
              </b-col>
              <b-col md="3" sm="12">
                <b-form-group
                  label="Novo Mês: "
                  label-for="mainDados-notificationCreateMounth"
                  description="Notificar-me sobre a abertura da mensalidade."
                >
                  <b-form-checkbox
                    id="mainDados-notificationCreateMounth"
                    v-model="mainDados.notificationCreateMounth"
                    name="checkbox-active"
                    value="true"
                    :disabled="mode!='update'"
                    unchecked-value="false"
                    class="mt-3"
                  >Ativo</b-form-checkbox>
                </b-form-group>
              </b-col>
              <b-col md="3" sm="12">
                <b-form-group
                  label="Estatísticas: "
                  label-for="mainDados-notificationStatsSystem"
                  description="Notificar-me sobre dados estatísticos do Sistema."
                >
                  <b-form-checkbox
                    id="mainDados-notificationStatsSystem"
                    v-model="mainDados.notificationStatsSystem"
                    name="checkbox-active"
                    value="true"
                    :disabled="mode!='update'"
                    unchecked-value="false"
                    class="mt-3"
                  >Ativo</b-form-checkbox>
                </b-form-group>
              </b-col>
            </b-row>
          </b-tab>
        </b-tabs>
        <b-button
          variant="outline-warning"
          v-show="mode==='save'"
          size="xl"
          @click="mode='update'"
        >Alterar</b-button>
        <b-button
          variant="outline-primary"
          v-show="mode==='update'"
          @click="salvar(), mode='save'"
        >Salvar</b-button>
        <b-button
          class="mt-1"
          variant="outline-danger"
          v-show="mode==='update'"
          @click="mode='save'"
        >Cancelar</b-button>
      </b-card>
    </b-form>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Preferences",
  data: function() {
    return {
      showMainModal: false,
      showAppendModal: false,
      showFilter: false,
      showReports: false,
      showMainTable: false,
      showNewFile: false,
      titleModal: null,
      reportSelect: null,
      inputFile: null,
      inputImage: null,
      fileDados: {},
      filterDados: {},
      mainDados: {},
      selectStreets: [],
      selectDistricts: [],
      itensTableAppends: [],
      itensTableUsers: [],
      page: 1,
      perPage: 7,
      totalCount: 0,
      mode: "save",
      image: false,
      selectTypeCalc: [
        { value: "Integral", text: "Integral" },
        { value: "Parcial", text: "Parcial" }
      ],
      fieldsMain: [
        { key: "id", label: "Código", sortable: true },
        { key: "name", label: "Nome", sortable: true },
        {
          key: "cpf",
          label: "CPF",
          formatter: value => {
            return value.replace(
              /^(\d{3})(\d{3})(\d{3})(\d{2})/,
              "$1.$2.$3-$4"
            );

            //em caso de cpf  replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/,"$1.$2.$3/$4-$5"
          }
        },
        { key: "actions", label: "Ações" }
      ],
      fieldsAppends: [
        { key: "id", label: "Código", sortable: true },
        { key: "description", label: "Descrição" },
        { key: "actions", label: "Ações" }
      ],
      optionsReports: [
        {
          value: null,
          name: "Selecione um relatório",
          notEnabled: true,
          disable: true
        },
        { value: "basic", name: "Básico" },
        { value: "detail", name: "Detalhado" }
      ]
    };
  },
  components: {
    PageTitle
  },
  watch: {
    page() {
      this.loadMains();
    }
  },
  mounted() {
    this.loadMains();
  },
  methods: {
    ...mapActions(["validateToken", "validateTokenRefresh"]),
    reset() {
      this.mode = "save";
      this.mainDados = {};
      this.image = false;
    },
    resetFile() {
      (this.inputFile = null),
        (this.showNewFile = null),
        (this.fileData = null);
    },
    cleanFilter() {
      this.filterDados = {};
    },
    loadMainAppend(appen) {
      this.append = { ...appen };
    },
    showFile(pathData) {
      window.open(pathData.path);
    },
    loadMain(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDados = { ...mainDados };
      this.mainDados.street = { id: mainDados.street.id };
      this.mainDados.district = { id: mainDados.district.id };
    },

    loadMains() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
        filterDados += this.filterDados.cpf
          ? `&cpf=${this.filterDados.cpf}`
          : "";
        filterDados += this.filterDados.rg ? `&rg=${this.filterDados.rg}` : "";
        filterDados += this.filterDados.license
          ? `&license=${this.filterDados.license}`
          : "";
      }

      const url = `${baseApiUrlResource}/preferences`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.mainDados = resposta.data.content[0];
              console.log(this.mainDados);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    pesquisarCep(cep) {
      var formData = new FormData();
      delete axios.defaults.headers.common["Authorization"];

      formData.append("Access-Control-Allow-Origin", "*");
      const result = "";
      const url = `https://viacep.com.br/ws/${cep}/json`;

      axios.get(url, formData).then(res => {
        document.getElementById("mainDados-city").value = res.data.localidade;
        this.mainDados.city = res.data.localidade;
        document.getElementById("mainDados-uf").value = res.data.uf;
        this.mainDados.uf = res.data.uf;
      });
    },

    salvar() {
      const method = this.mainDados.id ? "put" : "post";
      const id = this.mainDados.id ? `/${this.mainDados.id}` : "";

      const url = `${baseApiUrlResource}/preferences${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, this.mainDados, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.reset();
              this.loadMains();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    }
  }
};
</script>
<style>
</style>