<template>
  <div id="app" :class="{'hide-menu' : !isMenuVisible || !userData}">
    <Header
      title="SIGPF - Sistema Integrado de Gestão Pessoal e Financeira"
      :hideToggle="!userData"
      :hideUserDropDown="!userData"
    />
    <Menu v-if="userData" />
    <Loading v-if="validatingToken" />
    <Content v-else />
    <Footer />
  </div>
</template>

<script>
import axios from "axios";
import { mapState, mapActions } from "vuex";
import Header from "./components/templates/Header";
import Menu from "./components/templates/Menu";
import Content from "./components/templates/Content";
import Footer from "./components/templates/Footer";
import { userKey } from "./config/global";
import Loading from "./components/templates/Loading";

export default {
  name: "App",
  components: { Header, Menu, Content, Footer, Loading },
  computed: mapState(["isMenuVisible", "userData"]),
  data: function() {
    return {
      validatingToken: false
    };
  },
  methods: {
    ...mapActions(["validateToken", "loadUser", " validateTokenRefresh"]),
    async validateTokken() {
      this.validatingToken = true;

      const jsonKey = JSON.parse(localStorage.getItem(userKey));
      this.$store.commit("SET_TOKEN", null);

      if (!jsonKey) {
        this.validatingToken = false;
        localStorage.removeItem(userKey);
        this.$cookie.delete("refreshToken");
        this.$store.state.token = null;
        this.$store.state.userData = null;
        return this.$router.push({ path: "Auth" });
      }

      if (!this.$cookie.get("refreshToken")) {
        this.validatingToken = false;
        localStorage.removeItem(userKey);
        this.$cookie.delete("refreshToken");
        this.$store.state.token = null;
        this.$store.state.userData = null;
        return this.$router.push({ path: "Auth" });
      }

      if (!this.$store.dispatch("validateToken")) {
        this.validatingToken = false;
        localStorage.removeItem(userKey);
        this.$cookie.delete("refreshToken");
        this.$store.state.token = null;
        this.$store.state.userData = null;
        return this.$router.push({ path: "Auth" });
      }

      this.$store.dispatch("validateTokenRefresh");
      if (jsonKey != localStorage.getItem(userKey)) {
        this.validatingToken = false;
      }
    },
    montarTudo() {
      if (this.$store.state.token) {
        this.$store.dispatch("loadUser");
      }
    }
  },
  created() {
    this.validateTokken();
    // this.montarTudo();
  }
};
</script>


<style>
body {
  margin: 0;
}

.main {
  flex: 1;
}

#app {
  -webkit-font-smooghing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 40px;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "header header" "menu content" "menu footer";
}

#app.hide-menu {
  grid-template-areas: "header header" "content content" "footer footer";
}
</style>