<template>
  <div class="course">
    <PageTitle icon="fa fa-book" main="Cursos" sub />

    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModal"
      centered
      id="my-modal"
      :title="titleModal"
    >
      <b-form
        @submit.stop.prevent="salvar(), showMainModal=false"
        @reset="reset(), showMainModal=false"
      >
        <b-row>
          <b-col md="6" sm="12">
            <b-form-group label="Nome:" label-for="mainDados-name">
              <b-form-input
                id="mainDados-name"
                v-model="mainDados.name"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome do Curso"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button variant="primary" v-if="mode==='save'" type="submit">Salvar</b-button>
            <b-button
              variant="danger"
              v-if="mode==='remove'"
              @click="remover(), showAssociationModal=false"
            >Remover</b-button>
          </b-col>
          <b-col md="2" sm="12">
            <b-button v-if="mode!='view'" class="ml-2" type="reset">Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showAppendModal"
      centered
      id="my-anex-modal"
      :title="titleModal"
    >
      <div class="mt-2 mb-2">
        Arquivos de: {{mainDados.name}}
        <b-button
          class="ml-2 mr-2"
          variant="outline-success"
          @click="mode='save', showNewFile=true"
        >
          <i class="fa fa-file" aria-hidden="true"></i>Novo Arquivo
        </b-button>
        <b-form v-show="showNewFile" class="mt-4">
          <hr v-show="showNewFile" />
          <b-form-file v-show="showNewFile" v-model="inputFile" class="mt-3" plain></b-form-file>

          <b-row>
            <b-col md="12" sm="12">
              <b-form-group label="Descrição:" label-for="file-description">
                <b-form-input
                  id="file-description"
                  v-model="fileDados.description"
                  required
                  :readonly="mode ==='remove'"
                  placeholder="Informe a Descrição"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6" sm="0"></b-col>
            <b-col md="3" sm="12">
              <b-button
                class="ml-5 mr-2"
                variant="outline-primary"
                v-show="showNewFile"
                @click="novoArquivo"
              >
                <i class="fa fa-paper-plane" aria-hidden="true"></i>Enviar
              </b-button>
            </b-col>
            <b-col md="3" sm="12">
              <b-button
                class="ml-2 mr-2"
                variant="outline-danger"
                v-show="showNewFile"
                @click="mode= 'save', showNewFile=false"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>Cancelar
              </b-button>
            </b-col>
          </b-row>
        </b-form>
      </div>

      <hr />
      <b-table
        class="mt-2"
        sticky-header
        responsive
        striped
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableAppends"
        :fields="fieldsAppends"
      >
        <template slot="actions" slot-scope="data">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="showFile(data.item)"
            class="mr-2"
          >
            <i class="fa fa-eye" aria-hidden="true"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Excluir"
            variant="danger"
            class="mr-2"
            @click="loadMainAppend(data.item), deleteFile()"
          >
            <i class="fa fa-trash"></i>
          </b-button>
        </template>
      </b-table>
    </b-modal>
    <div>
      <b-button variant="outline-primary" @click="loadMains(), showMainTable = true">
        <i class="fa fa-search"></i>Pesquisar
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-success"
        @click="mode='save', showMainModal=true, titleModal='Novo Cadastro'"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>Novo Cadastro
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-info"
        @click="showReports = !showReports, titleModal='Selectione um Relatório'"
      >
        <i class="fa fa-print" aria-hidden="true">Realtórios</i>
      </b-button>
      <b-button class="ml-2" variant="outline-dark" @click="showFilter = !showFilter">
        <i class="fa fa-filter" aria-hidden="true">Filtros</i>
      </b-button>
      <div class="mt-3" v-show="showFilter">
        <b-button variant="outline-secondary" @click="cleanFilter">
          <i class="fa fa-pencil-square-o" aria-hidden="true">Limpar Filtros</i>
        </b-button>
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Nome:" label-for="filterDados-name">
                <b-form-input
                  id="filterDados-name"
                  v-model="filterDados.name"
                  placeholder="Nome do curso"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <div class="mt-3" v-show="showReports">
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Selecione um Relatório:" label-for="report">
                <b-form-select
                  id="report"
                  v-model="reportSelect"
                  :options="optionsReports"
                  class="mb-3"
                  required
                  :readonly="mode ==='remove'"
                  text-field="name"
                  value="name"
                  disabled-field="notEnabled"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col md="3" sm="12">
              <b-form-group label="Emitir: ">
                <b-button variant="info" @click="report">Emitir Relatorio</b-button>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <b-table
        v-show="showMainTable"
        class="mt-2"
        fixed
        responsive
        striped
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableUsers"
        :fields="fieldsMain"
      >
        <template v-slot:cell(actions)="row">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="loadMain(row.item, 'view'), showMainModal=true, titleModal='Visualizar'"
            class="mr-2"
          >
            <i class="fa fa-eye"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Alterar"
            variant="warning"
            @click="loadMain(row.item), showMainModal=true, titleModal='Alteração de Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-pencil"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Excluir"
            variant="danger"
            @click="loadMain(row.item, 'remove'), showMainModal=true, titleModal='Excluir Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-trash"></i>
          </b-button>
        </template>
      </b-table>
      <b-pagination
        v-show="showMainTable"
        v-model="page"
        align="center"
        :per-page="perPage"
        :total-rows="totalCount"
      ></b-pagination>
    </div>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Course",
  data: function() {
    return {
      showMainModal: false,
      showAppendModal: false,
      showFilter: false,
      showReports: false,
      showMainTable: false,
      showNewFile: false,
      titleModal: null,
      reportSelect: null,
      inputFile: null,
      fileDados: {},
      filterDados: {},
      mainDados: {},
      selectStreets: [],
      selectDistricts: [],
      itensTableAppends: [],
      itensTableUsers: [],
      page: 1,
      perPage: 7,
      totalCount: 0,
      mode: "save",
      fieldsMain: [
        { key: "id", label: "Código", sortable: true },
        { key: "name", label: "Nome", sortable: true },
        { key: "actions", label: "Ações" }
      ],
      fieldsAppends: [
        { key: "id", label: "Código", sortable: true },
        { key: "description", label: "Descrição" },
        { key: "actions", label: "Ações" }
      ],
      optionsReports: [
        {
          value: null,
          name: "Selecione um relatório",
          notEnabled: true,
          disable: true
        },
        { value: "basic", name: "Básico" }
      ]
    };
  },
  components: {
    PageTitle
  },
  watch: {
    page() {
      this.loadMains();
    }
  },
  mounted() {},
  methods: {
    ...mapActions(["validateToken", "validateTokenRefresh"]),
    reset() {
      this.mode = "save";
      this.mainDados = {};
    },
    resetFile() {
      (this.inputFile = null),
        (this.showNewFile = null),
        (this.fileData = null);
    },
    cleanFilter() {
      this.filterDados = {};
    },
    loadMainAppend(appen) {
      this.append = { ...appen };
    },
    showFile(pathData) {
      window.open(pathData.path);
    },
    loadMain(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDados = { ...mainDados };
    },
    loadMains() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
      }

      const url = `${baseApiUrlResource}/courses?page=${this.page}&size=${this.perPage}${filterDados}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableUsers = resposta.data.content;
              this.totalCount = Number(resposta.data.totalElements);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadMainAppends() {
      const url = `${baseApiUrlResource}/courses/appends/?universityId=${this.mainDados.id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableAppends = resposta.data.content;
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadStreets() {
      const url = `${baseApiUrlResource}/streets`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectStreets = resposta.data.content.map(street => {
                return {
                  ...street,
                  value: { id: street.id },
                  name: street.name_street
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadDistricts() {
      const url = `${baseApiUrlResource}/districts`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectDistricts = resposta.data.content.map(generic => {
                return {
                  ...generic,
                  value: { id: generic.id },
                  name: generic.name_district
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    pesquisarCep(cep) {
      var formData = new FormData();
      delete axios.defaults.headers.common["Authorization"];

      formData.append("Access-Control-Allow-Origin", "*");
      const result = "";
      const url = `https://viacep.com.br/ws/${cep}/json`;

      axios.get(url, formData).then(res => {
        document.getElementById("mainDados-city").value = res.data.localidade;
        this.mainDados.city = res.data.localidade;
        document.getElementById("mainDados-uf").value = res.data.uf;
        this.mainDados.uf = res.data.uf;
      });
    },

    salvar() {
      const method = this.mainDados.id ? "put" : "post";
      const id = this.mainDados.id ? `/${this.mainDados.id}` : "";

      const url = `${baseApiUrlResource}/courses${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, this.mainDados, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.reset();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    remover() {
      const id = this.mainDados.id;

      const method = this.mainDados.id ? "delete" : "get";

      const url = `${baseApiUrlResource}/courses/${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.reset();
              this.loadMains();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    novoArquivo() {
      const url = `${baseApiUrlResource}/universitys/appends/send`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          let form = new FormData();

          form.append("document", this.inputFile);

          axios
            .post(`${url}`, form, {
              headers: {
                Authorization: "Bearer " + res.data.access_token,
                "Content-Type": "multipart/form-data"
              }
            })
            .then(resposta => {
              //this.$toasted.global.defaultSuccess();

              this.resetFile();

              const path = JSON.stringify(resposta.data)
                .substring(52)
                .replace(/"/g, "");

              const f = this.novoCaminhoArquivo(path);
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    novoCaminhoArquivo(path) {
      const url = `${baseApiUrlResource}/universitys/appends`;

      this.fileDados.path = path;
      this.fileDados.university = { id: this.mainDados.id };

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .post(`${url}`, this.fileDados, {
              headers: {
                "Content-Type": "application/json",
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMainAppends();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    deleteFile() {
      const url = `${baseApiUrlResource}/universitys/appends/${this.append.id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .delete(`${url}`, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMainAppends();
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    report() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados = "?";
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
        filterDados += this.filterDados.area
          ? `&area=${this.filterDados.area}`
          : "";
      }

      var url = "";

      if (this.reportSelect) {
        if (this.reportSelect == "basic") {
          url = `${baseApiUrlResource}/reports/courses${filterDados}`;
        }
        if (this.reportSelect == "detail") {
          url = `${baseApiUrlResource}/reports/universitys/detail${filterDados}`;
        }
      } else {
        url = "";
      }

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              var arrrayBuffer = base64ToArrayBuffer(resposta.data);
              function base64ToArrayBuffer(base64) {
                var binaryString = window.atob(base64);
                var binaryLen = binaryString.length;
                var bytes = new Uint8Array(binaryLen);
                for (var i = 0; i < binaryLen; i++) {
                  var ascii = binaryString.charCodeAt(i);
                  bytes[i] = ascii;
                }
                return bytes;
              }
              var blob = new Blob([arrrayBuffer], { type: "application/pdf" });
              var link = window.URL.createObjectURL(blob);
              window.open(link);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    }
  }
};
</script>
<style>
</style>