<template>
  <div class="auth-content">
    <div class="auth-modal">
      <img src="@/assets/logo.png" width="200" alt="logo" />
      <hr />
      <div class="auth-title">{{showSolicitate ? "Solicitar Cadastro" : "Login"}}</div>
      <input v-if="showSolicitate" v-model="user.name" type="text" placeholder="Nome" />
      <input v-model="user.email" type="text" name="email" placeholder="E-mail" />
      <input
        v-model="user.password"
        @keyup.enter="signin"
        type="password"
        name="password"
        placeholder="Senha"
      />
      <input
        v-if="showSolicitate"
        v-model="user.confirmPassword"
        type="password"
        placeholder="Confirmação de senha"
      />
      <button v-if="showSolicitate" @click="signSolicitate">Solicitar</button>
      <b-button v-else block variant="primary" @click="signin">Entrar</b-button>

      <a href @click.prevent="showSolicitate = !showSolicitate">
        <b-link v-if="showSolicitate">Já possui cadastro? Acesse!</b-link>
        <span v-else>Solicite seu cadastro aqui!</span>
      </a>
    </div>
  </div>
</template>
<script>
import {
  baseApiUrlAuth,
  baseApiUrlResource,
  userKey,
  showError
} from "../../config/global";

import axios from "axios";
import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Auth",
  data: function() {
    return {
      showSolicitate: false,
      user: {
        email: null,
        password: null
      }
    };
  },
  methods: {
    signin() {
      var formData = new FormData();
      formData.append("username", this.user.email);
      formData.append("password", this.user.password);
      formData.append("grant_type", "password");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          this.$cookie.set("refreshToken", res.data.refresh_token);
          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit("SET_TOKEN", res.data.access_token);

          this.loadUser();

          this.$router.push("/");

          location.reload();
        })
        .catch(error => {
          if (error.response.status) {
            showError(
              error.response.status,
              error.response.data.error_description
            );

            console.log(error);
          } else {
            alert(event.target.error);
            console.log(error);
          }
        });
    },
    refreshToken() {
      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(
            error.response.status,
            error.response.data.error_description
          );
          console.log(JSON.stringify(error.response));
        });
    },

    loadUser() {
      const url = `${baseApiUrlResource}/users`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$store.commit("SET_USER_DATA", res.data);
            })
            .catch(error => {
              showError(
                error.response.status,
                error.response.data.error_description
              );
              console.log(error.response.status);
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    validateToken() {
      const jtoken = JSON.parse(localStorage.getItem(userKey));
      const xp = VueJwtDecode.decode(jtoken).exp;
      const now = new Date();

      if (now.getTime() > xp * 1000) {
        this.refreshToken();
      }
    },
    signSolicitate() {}
  }
};
</script>
<style>
.auth-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-modal {
  background-color: #ffffff;
  width: 350px;
  padding: 35px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 15px;
}

.auth-modal input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  padding: 3px 8px;
  outline: none;
}

.auth-modal button {
  align-self: flex-end;
  width: 100%;
  background-color: #2460ae;
  color: #fff;
  padding: 5px 15px;
}

.auth-modal a {
  margin-top: 35px;
}

.auth-modal hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(120, 120, 120, 0),
    rgba(120, 120, 120, 0.75),
    rgba(120, 120, 120, 0)
  );
}
</style>
