<template>
  <div class="student">
    <PageTitle icon="fa fa-graduation-cap" main="Alunos" sub />
    <!--MODAL V D-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModalView"
      centered
      id="my-modal"
      :title="titleModal"
      header-bg-variant="dark"
      header-text-variant="light"
    >
      <b-form>
        <b-row>
          <b-col md="4" sm="12" v-if="image==true">
            <b-form-group
              label="Foto: "
              label-for="mainDados-photo"
              description="Somente extensão JPG."
            >
              <b-form-file class="mt-1" v-model="inputImage" plain></b-form-file>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12" v-else>
            <b-img
              v-if="mainDadosView.photo=='' || mainDadosView.photo==undefined || mainDadosView.photo==null"
              center
              rounded="circle"
              blank
              width="80"
              height="80"
              alt="Imagem transparente"
              :disabled="mode!='save'"
              @click="image=true"
            ></b-img>
            <b-img
              v-else
              center
              rounded="circle"
              :src="mainDadosView.photo"
              width="150"
              height="150"
              alt="Foto de Perfil"
              :disabled="mode!='save'"
              @click="image=true"
            ></b-img>
          </b-col>
          <b-col md="8" sm="12">
            <b-form-group label="Nome:" label-for="mainDados-name">
              <b-form-input
                id="mainDados-name"
                v-model="mainDadosView.name"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome do Aluno"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group label="RA:" label-for="mainDados-ra">
              <b-form-input
                id="mainDados-ra"
                v-model="mainDadosView.ra"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Id do Aluno."
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="CPF:"
              label-for="mainDados-cpf"
              description="Informe o cpf sem os pontos."
            >
              <b-form-input
                id="mainDados-cnpj"
                v-model="mainDadosView.cpf"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome Cpf"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="RG:"
              label-for="mainDados-rg"
              description="Informe o rg sem os pontos."
            >
              <b-form-input
                id="mainDados-cnpj"
                v-model="mainDadosView.rg"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome Rg"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group
              label="E-mail:"
              label-for="mainDados-email"
              description="Seu e-mail não será compartilhado."
            >
              <b-form-input
                id="mainDados-email"
                v-model="mainDadosView.email"
                required
                :readonly="mode ==='remove'||mode==='view'"
                type="email"
                placeholder="Informe o E-mail"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="Telefone:"
              label-for="mainDados-phone1"
              description="Informe somente números, sem espaços."
            >
              <b-form-input
                id="mainDados-phone1"
                v-model="mainDadosView.phone1"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Primeiro Telefone"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="Telefone 2:"
              label-for="mainDados-phone2"
              description="Informe somente números, sem espaços."
            >
              <b-form-input
                id="mainDados-phone2"
                v-model="mainDadosView.phone2"
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Segundo Telefone"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group label="Cep:" label-for="mainDados-zip">
              <b-form-input
                id="mainDados-zip_code"
                v-model="mainDadosView.zip_code"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o Cep"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group label="Cidade:" label-for="mainDados-city">
              <b-form-input id="mainDados-city" v-model="mainDadosView.city" readonly type="text"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group label="Estado:" label-for="mainDados-uf">
              <b-form-input id="mainDados-uf" v-model="mainDadosView.uf" readonly type="text"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" sm="12">
            <b-form-group label="Rua:" label-for="mainDados-street">
              <b-form-select
                id="street-id"
                v-model="mainDadosView.street"
                :options="selectStreets"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="name"
                disabled-field="notEnabled"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group label="Complemento:" label-for="mainDados-complement">
              <b-form-input
                id="mainDados-complement"
                v-model="mainDadosView.complement"
                type="text"
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Fundos, lateral, etc..."
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="2" sm="12">
            <b-form-group label="Número:" label-for="mainDados-number_house">
              <b-form-input
                id="mainDados-number_house"
                v-model="mainDadosView.number_house"
                required
                :readonly="mode ==='remove'||mode==='view'"
                type="text"
                placeholder="Número"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" sm="12">
            <b-form-group label="Bairro:" label-for="mainDados-district">
              <b-form-select
                id="district-id"
                v-model="mainDadosView.district"
                :options="selectDistricts"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="name"
                disabled-field="notEnabled"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group label="Data de Nascimento:" label-for="mainDados-birth">
              <b-form-datepicker
                id="datepicker-placeholder"
                placeholder="Data de Nascimento"
                locale="pt-BR"
                hide-header
                show-decade-nav
                dark
                v-model="mainDadosView.birth_date"
                :disabled="mode!='save'"
                label-help="Selecione uma Data"
              ></b-form-datepicker>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="3" sm="12">
            <b-form-group label="Tipo de Matrícula:" label-for="mainDados-paymentType">
              <b-form-select
                id="mainDados-paymentType"
                v-model="mainDadosView.paymentType"
                :options="selectTypeCalc"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="text"
                disabled-field="notEnabled"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="3" sm="12">
            <b-form-group label="Curso:" label-for="mainDados-course">
              <b-form-select
                id="mainDados-course"
                v-model="mainDadosView.course"
                :options="selectCourses"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="name"
                disabled-field="notEnabled"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="Aluno-ID:"
              label-for="mainDados-user_student"
              description="Login usado no aplicativo."
            >
              <b-form-input
                id="mainDados-user_student"
                v-model="mainDadosView.user_student"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Id do Aluno."
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="2" sm="12">
            <b-form-group label="Ativo: " label-for="mainDados-active">
              <b-form-checkbox
                id="mainDados-active"
                v-model="mainDadosView.active"
                name="checkbox-active"
                value="true"
                :disabled="mode!='save'"
                unchecked-value="false"
                class="mt-3"
              >Ativo</b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button
              variant="danger"
              v-if="mode==='remove'"
              @click="remover(), showMainModalView=false"
            >Remover</b-button>
          </b-col>
          <b-col md="2" sm="12">
            <b-button
              class="ml-2"
              @click="reset(), showMainModalView=false"
              v-if="mode!='view'"
            >Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!--MODAL P P-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showMainModal"
      centered
      id="my-modal"
      :title="titleModal"
      hide-header-close
    >
      <b-form @submit.stop.prevent="salvarImagem(), showMainModal=false">
        <b-row>
          <b-col md="4" sm="12" v-if="image==true">
            <b-form-group
              label="Foto: "
              label-for="mainDados-photo"
              description="Somente extensão JPG."
            >
              <b-form-file class="mt-1" v-model="inputImage" plain></b-form-file>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12" v-else>
            <b-img
              v-if="mainDados.photo=='' || mainDados.photo==undefined || mainDados.photo==null"
              center
              rounded="circle"
              blank
              width="80"
              height="80"
              alt="Imagem transparente"
              :disabled="mode!='save'"
              @click="image=true"
            ></b-img>
            <b-img
              v-else
              center
              rounded="circle"
              :src="mainDados.photo"
              width="150"
              height="150"
              alt="Foto de Perfil"
              :disabled="mode!='save'"
              @click="image=true"
            ></b-img>
          </b-col>
          <b-col md="8" sm="12">
            <b-form-group
              label="Nome:"
              label-for="mainDados-name"
              :invalid-feedback="invalidName"
              :state="stateName"
            >
              <b-form-input
                id="mainDados-name"
                v-model="mainDados.name"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome do Aluno"
                :state="stateName"
                trim
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group
              label="RA:"
              label-for="mainDados-ra"
              :invalid-feedback="invalidRa"
              :state="stateRa"
            >
              <b-form-input
                id="mainDados-ra"
                v-model="mainDados.ra"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Id do Aluno."
                :state="stateRa"
                trim
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="CPF:"
              label-for="mainDados-cpf"
              description="Informe o cpf sem os pontos."
              :invalid-feedback="invalidCpf"
              :state="stateCpf"
            >
              <b-form-input
                id="mainDados-cnpj"
                v-model="mainDados.cpf"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome Cpf"
                :state="stateCpf"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="RG:"
              label-for="mainDados-rg"
              description="Informe o rg sem os pontos."
              :invalid-feedback="invalidRg"
              :state="stateRg"
            >
              <b-form-input
                id="mainDados-cnpj"
                v-model="mainDados.rg"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o nome Rg"
                :state="stateRg"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group
              label="E-mail:"
              label-for="mainDados-email"
              description="Seu e-mail não será compartilhado."
              :invalid-feedback="invalidEmail"
              :state="stateEmail"
            >
              <b-form-input
                id="mainDados-email"
                v-model="mainDados.email"
                required
                :readonly="mode ==='remove'||mode==='view'"
                type="email"
                placeholder="Informe o E-mail"
                :state="stateEmail"
                trim
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="Telefone:"
              label-for="mainDados-phone1"
              description="Informe somente números, sem espaços."
              :invalid-feedback="invalidPhone1"
              :state="statePhone1"
            >
              <b-form-input
                id="mainDados-phone1"
                v-model="mainDados.phone1"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Primeiro Telefone"
                :state="statePhone1"
                trim
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="Telefone 2:"
              label-for="mainDados-phone2"
              description="Informe somente números, sem espaços."
              :invalid-feedback="invalidPhone2"
              :state="statePhone2"
            >
              <b-form-input
                id="mainDados-phone2"
                v-model="mainDados.phone2"
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Segundo Telefone"
                :state="statePhone2"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="4" sm="12">
            <b-form-group
              label="Cep:"
              label-for="mainDados-zip"
              :invalid-feedback="invalidZip"
              :state="stateZip"
            >
              <b-form-input
                id="mainDados-zip_code"
                v-model="mainDados.zip_code"
                required
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Informe o Cep"
                @blur.native="pesquisarCep(mainDados.zip_code)"
                :state="stateZip"
                trim
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group label="Cidade:" label-for="mainDados-city">
              <b-form-input id="mainDados-city" v-model="mainDados.city" readonly type="text"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group label="Estado:" label-for="mainDados-uf">
              <b-form-input id="mainDados-uf" v-model="mainDados.uf" readonly type="text"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" sm="12">
            <b-form-group
              label="Rua:"
              label-for="mainDados-street"
              :invalid-feedback="invalidStreet"
              :state="stateStreet"
            >
              <b-form-select
                id="street-id"
                v-model="mainDados.street"
                :options="selectStreets"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="name"
                disabled-field="notEnabled"
                :state="stateStreet"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="Complemento:"
              label-for="mainDados-complement"
              :invalid-feedback="invalidComplement"
            >
              <b-form-input
                id="mainDados-complement"
                v-model="mainDados.complement"
                type="text"
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Fundos, lateral, etc..."
                :state="stateComplement"
                trim
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="2" sm="12">
            <b-form-group
              label="Número:"
              label-for="mainDados-number_house"
              :invalid-feedback="invalidNumber"
              :state="stateNumber"
            >
              <b-form-input
                id="mainDados-number_house"
                v-model="mainDados.number_house"
                required
                :readonly="mode ==='remove'||mode==='view'"
                type="text"
                placeholder="Número"
                :state="stateNumber"
                trim
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6" sm="12">
            <b-form-group
              label="Bairro:"
              label-for="mainDados-district"
              :invalid-feedback="invalidDistrict"
              :state="stateDistrict"
            >
              <b-form-select
                id="district-id"
                v-model="mainDados.district"
                :options="selectDistricts"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="name"
                disabled-field="notEnabled"
                :state="stateDistrict"
                trim
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group label="Data de Nascimento:" label-for="mainDados-birth">
              <b-form-datepicker
                id="datepicker-placeholder"
                placeholder="Data de Nascimento"
                locale="pt-BR"
                hide-header
                show-decade-nav
                dark
                required
                v-model="mainDados.birth_date"
                :disabled="mode!='save'"
                label-help="Selecione uma Data"
              ></b-form-datepicker>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="3" sm="12">
            <b-form-group
              label="Tipo de Matrícula:"
              label-for="mainDados-paymentType"
              :invalid-feedback="invalidPaymentType"
              :state="statePaymentType"
            >
              <b-form-select
                id="mainDados-paymentType"
                v-model="mainDados.paymentType"
                :options="selectTypeCalc"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="text"
                disabled-field="notEnabled"
                :state="statePaymentType"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="3" sm="12">
            <b-form-group
              label="Curso:"
              label-for="mainDados-course"
              :invalid-feedback="invalidCourse"
              :state="stateCourse"
            >
              <b-form-select
                id="mainDados-course"
                v-model="mainDados.course"
                :options="selectCourses"
                class="mb-3"
                required
                :disabled="mode!='save'"
                text-field="name"
                disabled-field="notEnabled"
                :state="stateCourse"
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col md="4" sm="12">
            <b-form-group
              label="Aluno-ID:"
              label-for="mainDados-user_student"
              description="Login usado no aplicativo."
            >
              <b-form-input
                id="mainDados-user_student"
                v-model="mainDados.user_student"
                :readonly="mode ==='remove'||mode==='view'"
                placeholder="Id do Aluno."
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col md="2" sm="12">
            <b-form-group label="Ativo: " label-for="mainDados-active">
              <b-form-checkbox
                id="mainDados-active"
                v-model="mainDados.active"
                name="checkbox-active"
                value="true"
                :disabled="mode!='save'"
                unchecked-value="false"
                class="mt-3"
              >Ativo</b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col md="9" sm="0"></b-col>
          <b-col md="1" sm="12">
            <b-button variant="primary" v-if="mode==='save'" type="submit">Salvar</b-button>
          </b-col>
          <b-col md="2" sm="12">
            <b-button
              class="ml-2"
              @click="reset(), showMainModal=false"
              v-if="mode!='view'"
            >Cancelar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!-- APPEND MODAL-->
    <b-modal
      size="xl"
      hide-footer
      scrollable
      v-model="showAppendModal"
      centered
      id="my-anex-modal"
      :title="titleModal"
    >
      <div class="mt-2 mb-2">
        Arquivos de: {{mainDados.name}}
        <b-button
          class="ml-2 mr-2"
          variant="outline-success"
          @click="mode='save', showNewFile=true"
        >
          <i class="fa fa-file" aria-hidden="true"></i>Novo Arquivo
        </b-button>
        <b-form v-show="showNewFile" class="mt-4">
          <hr v-show="showNewFile" />
          <b-form-file v-show="showNewFile" v-model="inputFile" class="mt-3" plain></b-form-file>

          <b-row>
            <b-col md="12" sm="12">
              <b-form-group label="Descrição:" label-for="file-description">
                <b-form-input
                  id="file-description"
                  v-model="fileDados.description"
                  required
                  :readonly="mode ==='remove'"
                  placeholder="Informe a Descrição"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6" sm="0"></b-col>
            <b-col md="3" sm="12">
              <b-button
                class="ml-5 mr-2"
                variant="outline-primary"
                v-show="showNewFile"
                @click="novoArquivo"
              >
                <i class="fa fa-paper-plane" aria-hidden="true"></i>Enviar
              </b-button>
            </b-col>
            <b-col md="3" sm="12">
              <b-button
                class="ml-2 mr-2"
                variant="outline-danger"
                v-show="showNewFile"
                @click="mode= 'save', showNewFile=false"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>Cancelar
              </b-button>
            </b-col>
          </b-row>
        </b-form>
      </div>

      <hr />
      <b-table
        class="mt-2"
        sticky-header
        responsive
        striped
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableAppends"
        :fields="fieldsAppends"
      >
        <template v-slot:cell(actions)="row">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="showFile(row.item)"
            class="mr-2"
          >
            <i class="fa fa-eye" aria-hidden="true"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Excluir"
            variant="danger"
            class="mr-2"
            @click="loadMainAppend(row.item), deleteFile()"
          >
            <i class="fa fa-trash"></i>
          </b-button>
        </template>
      </b-table>
    </b-modal>
    <div>
      <b-button variant="outline-primary" @click="loadMains(), showMainTable = true">
        <i class="fa fa-search"></i>Pesquisar
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-success"
        @click="mode='save', showMainModal=true, titleModal='Novo Cadastro', image=true"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>Novo Cadastro
      </b-button>
      <b-button
        class="ml-2"
        variant="outline-info"
        @click="showReports = !showReports, titleModal='Selectione um Relatório'"
      >
        <i class="fa fa-print" aria-hidden="true">Realtórios</i>
      </b-button>
      <b-button class="ml-2" variant="outline-dark" @click="showFilter = !showFilter">
        <i class="fa fa-filter" aria-hidden="true">Filtros</i>
      </b-button>
      <div class="mt-3" v-show="showFilter">
        <b-button variant="outline-secondary" @click="cleanFilter">
          <i class="fa fa-pencil-square-o" aria-hidden="true">Limpar Filtros</i>
        </b-button>
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Nome:" label-for="filterDados-name">
                <b-form-input
                  id="filterDados-name"
                  v-model="filterDados.name"
                  placeholder="Nome do Estudante"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col md="4" sm="12">
              <b-form-group label="CPF:" label-for="filterDados-cpf">
                <b-form-input id="filter-cnpj" v-model="filterDados.cpf" placeholder="Cpf"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="RG:" label-for="filterDados-rg">
                <b-form-input id="filter-rg" v-model="filterDados.rg" placeholder="Rg"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col md="4" sm="12">
              <b-form-group label="RA:" label-for="filterDados-ra">
                <b-form-input id="filter-cnh" v-model="filterDados.ra" placeholder="Ra"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <div class="mt-3" v-show="showReports">
        <b-form>
          <b-row>
            <b-col md="4" sm="12">
              <b-form-group label="Selecione um Relatório:" label-for="report">
                <b-form-select
                  id="report"
                  v-model="reportSelect"
                  :options="optionsReports"
                  class="mb-3"
                  required
                  :readonly="mode ==='remove'"
                  text-field="name"
                  value="name"
                  disabled-field="notEnabled"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col md="3" sm="12">
              <b-form-group label="Emitir: ">
                <b-button variant="info" @click="report">Emitir Relatorio</b-button>
              </b-form-group>
            </b-col>
          </b-row>
          <hr />
        </b-form>
      </div>
      <b-table
        v-show="showMainTable"
        class="mt-2"
        fixed
        responsive
        sort-by="active"
        sort-desc
        hover
        bordered="bordered"
        head-variant="dark"
        :items="itensTableUsers"
        :fields="fieldsMain"
        :tbody-tr-class="ifRow"
        striped
      >
        <template v-slot:cell(actions)="row">
          <b-button
            v-b-tooltip.hover
            title="Visualizar"
            variant="success"
            @click="loadMainView(row.item, 'view'), showMainModalView=true, titleModal='Visualizar'"
            class="mr-2"
          >
            <i class="fa fa-eye"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Alterar"
            variant="warning"
            @click="loadMain(row.item), showMainModal=true, titleModal='Alteração de Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-pencil"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Excluir"
            variant="danger"
            @click="loadMainView(row.item, 'remove'), showMainModalView=true, titleModal='Excluir Cadastro'"
            class="mr-2"
          >
            <i class="fa fa-trash"></i>
          </b-button>
          <b-button
            v-b-tooltip.hover
            title="Anexos"
            variant="primary"
            @click="loadMain(row.item), loadMainAppends(),showAppendModal=true, titleModal='Anexos'"
            class="mr-2"
          >
            <i class="fa fa-paperclip"></i>
          </b-button>
          <b-button
            pill
            v-b-tooltip.hover
            title="Novo Contrato"
            variant="secondary"
            @click="loadMain(row.item), reportSelect='newContract', confirmNewContract()"
            class="mr-2"
          >
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </b-button>
          <b-button
            pill
            v-b-tooltip.hover
            title="Romper Contrato"
            variant="dark"
            @click="loadMain(row.item), reportSelect='endContract', confirmEndContract()"
            class="mr-2"
          >
            <i class="fa fa-chain-broken" aria-hidden="true"></i>
          </b-button>
        </template>
      </b-table>
      <b-pagination
        v-show="showMainTable"
        v-model="page"
        align="center"
        :per-page="perPage"
        :total-rows="totalCount"
      ></b-pagination>
    </div>
  </div>
</template>
<script>
import PageTitle from "../templates/PageTitle";
import {
  baseApiUrlResource,
  baseApiUrlAuth,
  userKey,
  showError
} from "../../config/global";
import axios from "axios";
import { mapActions } from "vuex";

import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "Student",
  data: function() {
    return {
      showMainModal: false,
      showMainModalView: false,
      showAppendModal: false,
      showFilter: false,
      showReports: false,
      showMainTable: false,
      showNewFile: false,
      titleModal: null,
      reportSelect: null,
      inputFile: null,
      inputImage: null,
      fileDados: {},
      filterDados: {},
      mainDados: {
        name: "",
        cpf: "",
        rg: "",
        ra: "",
        email: "",
        phone1: "",
        phone2: "",
        birth_date: "",
        zip_code: "",
        complement: "",
        number_house: "",
        paymentType: "",
        course: { id: "" },
        district: { id: "" },
        street: { id: "" }
      },
      mainDadosView: {},
      selectStreets: [],
      selectDistricts: [],
      selectCourses: [],
      itensTableAppends: [],
      itensTableUsers: [],
      page: 1,
      perPage: 7,
      totalCount: 0,
      mode: "save",
      image: false,
      boxNewContract: "",
      selectTypeCalc: [
        { value: "Integral", text: "Integral" },
        { value: "Parcial", text: "Parcial" }
      ],
      fieldsMain: [
        { key: "id", label: "Código", sortable: true },
        { key: "name", label: "Nome", sortable: true },
        {
          key: "cpf",
          label: "CPF",
          formatter: value => {
            return value.replace(
              /^(\d{3})(\d{3})(\d{3})(\d{2})/,
              "$1.$2.$3-$4"
            );

            //em caso de cpf  replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/,"$1.$2.$3/$4-$5"
          }
        },
        {
          key: "active",
          label: "Ativo",
          formatter: value => {
            return value == true ? "Ativo" : "Inativo";
          },
          sortable: true
        },
        { key: "actions", label: "Ações" }
      ],
      fieldsAppends: [
        { key: "id", label: "Código", sortable: true },
        { key: "description", label: "Descrição" },
        { key: "actions", label: "Ações" }
      ],
      optionsReports: [
        {
          value: null,
          name: "Selecione um relatório",
          notEnabled: true,
          disable: true
        },
        { value: "basic", name: "Básico" },
        { value: "detail", name: "Detalhado" }
      ]
    };
  },
  components: {
    PageTitle
  },

  computed: {
    //BEGIN  STATE
    stateName() {
      if (this.mainDados.name.length >= 5 && this.mainDados.name.length < 100) {
        return true;
      } else {
        return false;
      }
    },
    stateCpf() {
      if (this.mainDados.cpf.length == 11) {
        return true;
      } else {
        return false;
      }
    },
    stateRg() {
      if (this.mainDados.rg.length >= 9 && this.mainDados.rg.length <= 12) {
        return true;
      } else {
        return false;
      }
    },
    stateRa() {
      if (this.mainDados.ra.length >= 9 && this.mainDados.ra.length <= 12) {
        return true;
      } else {
        return false;
      }
    },
    stateEmail() {
      let emailRegex = /^[\w.\+]+@\w+.\w{2,}(?:.\w{2})?$/;

      if (this.mainDados.email.search(emailRegex)) {
        return false;
      } else {
        return true;
      }
    },
    statePhone1() {
      if (
        this.mainDados.phone1.length >= 9 &&
        this.mainDados.phone1.length <= 12
      ) {
        return true;
      } else {
        return false;
      }
    },
    statePhone2() {
      if (this.mainDados.phone2 === null) {
        return null;
      } else {
        if (
          this.mainDados.phone2.length >= 9 &&
          this.mainDados.phone2.length <= 12
        ) {
          return true;
        } else if (
          this.mainDados.phone2.length > 0 &&
          this.mainDados.phone2.length < 9
        ) {
          return false;
        } else {
          return null;
        }
      }
    },
    stateZip() {
      if (
        this.mainDados.zip_code.length >= 8 &&
        this.mainDados.zip_code.length <= 9
      ) {
        return true;
      } else {
        return false;
      }
    },
    stateComplement() {
      if (this.mainDados.complement === null) {
        return null;
      } else {
        if (
          this.mainDados.complement.length >= 3 &&
          this.mainDados.complement.length <= 100
        ) {
          return true;
        } else if (
          this.mainDados.complement.length > 0 &&
          this.mainDados.complement.length < 3
        ) {
          return false;
        } else {
          return null;
        }
      }
    },
    stateNumber() {
      if (this.mainDados.number_house > 0) {
        return true;
      } else {
        return false;
      }
    },
    stateDistrict() {
      if (this.mainDados.district.id == 0) {
        return false;
      } else {
        return true;
      }
    },
    stateStreet() {
      if (this.mainDados.street.id == 0) {
        return false;
      } else {
        return true;
      }
    },
    stateCourse() {
      if (this.mainDados.course.id == 0) {
        return false;
      } else {
        return true;
      }
    },
    stateBirth() {
      if (this.mainDados.birth_date != null) {
        if (this.mainDados.birth_date.length == 0) {
          return false;
        } else {
          return true;
        }
      } else {
        return null;
      }
    },

    statePaymentType() {
      if (this.mainDados.paymentType == 0) {
        return false;
      } else {
        return true;
      }
    },
    //END STATE
    //BEGIN VALID/INVALID

    //NAME
    invalidName() {
      if (this.mainDados.name.length > 0 && this.mainDados.name.length < 5) {
        return "Insira no mínimo 5 digitos";
      } else if (this.mainDados.name.length > 100) {
        return "Insira no máximo 100 digitos";
      } else {
        return "Campo obrigatório";
      }
    },

    //CPF
    invalidCpf() {
      if (this.mainDados.cpf.length > 0 && this.mainDados.cpf.length < 11) {
        return "CPF contém 11 digitos";
      } else if (this.mainDados.cpf.length > 11) {
        return "CPF Incorreto";
      } else {
        return "Campo obrigatório";
      }
    },

    //RG
    invalidRg() {
      if (this.mainDados.rg.length > 0 && this.mainDados.rg.length < 9) {
        return "Rg necessita 9 digitos";
      } else if (this.mainDados.rg.length > 12) {
        return "Máximo de 12 digitos";
      } else {
        return "Campo obrigatório";
      }
    },
    //RA
    invalidRa() {
      if (this.mainDados.ra.length > 0 && this.mainDados.ra.length < 9) {
        return "Rg necessita 9 digitos";
      } else if (this.mainDados.ra.length > 12) {
        return "Máximo de 12 digitos";
      } else {
        return "Campo obrigatório";
      }
    },

    //EMAIL
    invalidEmail() {
      return this.stateEmail ? "" : "Campo obrigatório";
    },
    //PHONE1
    invalidPhone1() {
      if (
        this.mainDados.phone1.length > 0 &&
        this.mainDados.phone1.length < 12
      ) {
        return "Insira o telefone completo";
      } else if (this.mainDados.phone1.length > 12) {
        return "Telefone incorreto";
      } else {
        return "Campo obrigatório";
      }
    },
    //PHONE2
    invalidPhone2() {
      if (this.mainDados.complement != null) {
        if (
          this.mainDados.phone2.length > 0 &&
          this.mainDados.phone2.length < 12
        ) {
          return "Insira o telefone completo";
        } else if (this.mainDados.phone2.length > 12) {
          return "Telefone incorreto";
        } else {
          return "Campo obrigatório";
        }
      }
    },

    //ZIPCODE
    invalidZip() {
      if (
        this.mainDados.zip_code.length > 0 &&
        this.mainDados.zip_code.length < 8
      ) {
        return "Insira o CEP completo";
      } else if (this.mainDados.zip_code.length > 9) {
        return "CEP incorreto";
      } else {
        return "Campo obrigatório";
      }
    },

    //COMPLEMENT
    invalidComplement() {
      if (this.mainDados.complement != null) {
        if (
          this.mainDados.complement.length > 0 &&
          this.mainDados.complement.length < 3
        ) {
          return "Mínimo de 3 digitos";
        } else if (this.mainDados.complement.length > 100) {
          return "Máximo de 100 digitos";
        }
      }
    },

    //NUMBERHOUSE
    invalidNumber() {
      return this.stateNumber === true ? "" : "Campo obrigatório";
    },
    //DISTRICT
    invalidDistrict() {
      return this.stateDistrict === true ? "" : "Seleção obrigatória";
    },
    //STREET
    invalidStreet() {
      return this.stateStreet === true ? "" : "Seleção obrigatória";
    },
    //ROLE
    invalidRole() {
      return this.stateRole === true ? "" : "Seleção obrigatória";
    },
    //BIRTHDATE
    invalidBirth() {
      return this.stateBirth === true ? "" : "Seleção obrigatória";
    },
    //PAYMENT
    invalidPaymentType() {
      return this.statePaymentType === true ? "" : "Seleção obrigatória";
    },
    //COURSE
    invalidCourse() {
      return this.stateCourse === true ? "" : "Seleção obrigatória";
    }
  },
  watch: {
    page() {
      this.loadMains();
    }
  },
  mounted() {
    this.loadDistricts();
    this.loadStreets();
    this.loadCourses();
  },
  methods: {
    ...mapActions(["validateToken", "validateTokenRefresh"]),
    reset() {
      this.mode = "save";
      this.mainDados = {
        name: "",
        cpf: "",
        rg: "",
        ra: "",
        email: "",
        phone1: "",
        phone2: "",
        birth_date: "",
        zip_code: "",
        complement: "",
        number_house: "",
        paymentType: "",
        course: { id: "" },
        district: { id: "" },
        street: { id: "" }
      };
      this.image = false;
    },
    resetFile() {
      (this.inputFile = null),
        (this.showNewFile = null),
        (this.fileData = null);
    },
    cleanFilter() {
      this.filterDados = {};
    },
    loadMainAppend(appen) {
      this.append = { ...appen };
    },
    showFile(pathData) {
      window.open(pathData.path);
    },
    loadMain(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDados = { ...mainDados };
      this.mainDados.street = { id: mainDados.street.id };
      this.mainDados.district = { id: mainDados.district.id };
      this.mainDados.course = { id: mainDados.course.id };
    },
    loadMainView(mainDados, mode = "save") {
      this.mode = mode;
      this.mainDadosView = { ...mainDados };
      this.mainDadosView.street = { id: mainDados.street.id };
      this.mainDadosView.district = { id: mainDados.district.id };
      this.mainDadosView.course = { id: mainDados.course.id };
    },
    ifRow(item, type) {
      return item.active == true ? "" : "table-warning";
    },

    loadMains() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
        filterDados += this.filterDados.cpf
          ? `&cpf=${this.filterDados.cpf}`
          : "";
        filterDados += this.filterDados.rg ? `&rg=${this.filterDados.rg}` : "";
        filterDados += this.filterDados.ra ? `&ra=${this.filterDados.ra}` : "";
      }

      const url = `${baseApiUrlResource}/students?page=${this.page}&size=${this.perPage}${filterDados}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableUsers = resposta.data.content;
              this.totalCount = Number(resposta.data.totalElements);
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadMainAppends() {
      const url = `${baseApiUrlResource}/students/appends/?studentId=${this.mainDados.id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.itensTableAppends = resposta.data.content;
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadStreets() {
      const url = `${baseApiUrlResource}/streets`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectStreets = resposta.data.content.map(street => {
                return {
                  ...street,
                  value: { id: street.id },
                  name: street.name_street
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadDistricts() {
      const url = `${baseApiUrlResource}/districts`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectDistricts = resposta.data.content.map(generic => {
                return {
                  ...generic,
                  value: { id: generic.id },
                  name: generic.name_district
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    loadCourses() {
      const url = `${baseApiUrlResource}/courses`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .get(url, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.selectCourses = resposta.data.content.map(generic => {
                return {
                  ...generic,
                  value: { id: generic.id },
                  name: generic.name
                };
              });
            });

          localStorage.setItem(userKey, JSON.stringify(res.data.access_token));
          this.$store.commit(
            "SET_TOKEN",
            JSON.parse(localStorage.getItem(userKey))
          );
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    pesquisarCep(cep) {
      var formData = new FormData();
      delete axios.defaults.headers.common["Authorization"];

      formData.append("Access-Control-Allow-Origin", "*");
      const result = "";
      const url = `https://viacep.com.br/ws/${cep}/json`;

      axios.get(url, formData).then(res => {
        document.getElementById("mainDados-city").value = res.data.localidade;
        this.mainDados.city = res.data.localidade;
        document.getElementById("mainDados-uf").value = res.data.uf;
        this.mainDados.uf = res.data.uf;
      });
    },

    salvar() {
      const method = this.mainDados.id ? "put" : "post";
      const id = this.mainDados.id ? `/${this.mainDados.id}` : "";

      const url = `${baseApiUrlResource}/students${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, this.mainDados, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMains();
              this.reset();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    salvarImagem() {
      const url = `${baseApiUrlResource}/students/photos`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      if (this.inputImage) {
        axios
          .post(`${baseApiUrlAuth}/oauth/token`, formData, {
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
              Authorization: "Basic dnVlanM6dnVlanM="
            }
          })
          .then(res => {
            let form = new FormData();

            form.append("photo", this.inputImage);

            axios
              .post(`${url}`, form, {
                headers: {
                  Authorization: "Bearer " + res.data.access_token,
                  "Content-Type": "multipart/form-data"
                }
              })
              .then(resposta => {
                //this.$toasted.global.defaultSuccess();

                this.resetFile();

                const path = JSON.stringify(resposta.data)
                  .substring(52)
                  .replace(/"/g, "");

                this.salvarComImagem(path);
              })
              .catch(error => {
                showError(error.response.status, error.response.data.error);
                console.log(JSON.stringify(error.response.data.message));
              });
          })
          .catch(error => {
            showError(error.response.status, error.response.data.error);
            console.log(JSON.stringify(error.response));
          });
      } else {
        this.salvar();
      }
    },

    salvarComImagem(path) {
      this.mainDados.photo = path;
      const method = this.mainDados.id ? "put" : "post";
      const id = this.mainDados.id ? `/${this.mainDados.id}` : "";

      const url = `${baseApiUrlResource}/students${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, this.mainDados, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMains();
              this.reset();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    remover() {
      const id = this.mainDadosView.id;

      const method = this.mainDadosView.id ? "delete" : "get";

      const url = `${baseApiUrlResource}/students/${id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios[method](`${url}`, {
            headers: {
              Authorization: "Bearer " + res.data.access_token
            }
          }).then(resposta => {
            this.$toasted.global.defaultSuccess();
            this.reset();
            this.loadMains();
          });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    novoArquivo() {
      const url = `${baseApiUrlResource}/students/appends/send`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          let form = new FormData();

          form.append("document", this.inputFile);

          axios
            .post(`${url}`, form, {
              headers: {
                Authorization: "Bearer " + res.data.access_token,
                "Content-Type": "multipart/form-data"
              }
            })
            .then(resposta => {
              //this.$toasted.global.defaultSuccess();

              this.resetFile();

              const path = JSON.stringify(resposta.data)
                .substring(52)
                .replace(/"/g, "");

              const f = this.novoCaminhoArquivo(path);
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    novoCaminhoArquivo(path) {
      const url = `${baseApiUrlResource}/students/appends`;

      this.fileDados.path = path;
      this.fileDados.student = { id: this.mainDados.id };

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .post(`${url}`, this.fileDados, {
              headers: {
                "Content-Type": "application/json",
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMainAppends();
            })
            .catch(error => {
              showError(error.response.status, error.response.data.error);
              console.log(JSON.stringify(error.response.data.message));
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },
    deleteFile() {
      const url = `${baseApiUrlResource}/students/appends/${this.append.id}`;

      var formData = new FormData();

      formData.append("refresh_token", this.$cookie.get("refreshToken"));
      formData.append("grant_type", "refresh_token");

      axios
        .post(`${baseApiUrlAuth}/oauth/token`, formData, {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            Authorization: "Basic dnVlanM6dnVlanM="
          }
        })
        .then(res => {
          axios
            .delete(`${url}`, {
              headers: {
                Authorization: "Bearer " + res.data.access_token
              }
            })
            .then(resposta => {
              this.$toasted.global.defaultSuccess();
              this.loadMainAppends();
            });
        })
        .catch(error => {
          showError(error.response.status, error.response.data.error);
          console.log(JSON.stringify(error.response));
        });
    },

    report() {
      var filterDados = "";
      if (this.filterDados) {
        filterDados = "?";
        filterDados += this.filterDados.name
          ? `&name=${this.filterDados.name}`
          : "";
        filterDados += this.filterDados.cpf
          ? `&cpf=${this.filterDados.cpf}`
          : "";
        filterDados += this.filterDados.rg ? `&rg=${this.filterDados.rg}` : "";
        filterDados += this.filterDados.ra ? `&ra=${this.filterDados.ra}` : "";

        var url = "";

        if (this.reportSelect) {
          if (this.reportSelect == "basic") {
            url = `${baseApiUrlResource}/reports/students${filterDados}`;
          }
          if (this.reportSelect == "detail") {
            url = `${baseApiUrlResource}/reports/students/detail${filterDados}`;
          }
          if (this.reportSelect == "newContract") {
            url = `${baseApiUrlResource}/reports/students/newcontract?id=${this.mainDados.id}`;
          }
          if (this.reportSelect == "endContract") {
            url = `${baseApiUrlResource}/reports/students/endcontract?id=${this.mainDados.id}`;
          }
        } else {
          url = "";
        }

        var formData = new FormData();

        formData.append("refresh_token", this.$cookie.get("refreshToken"));
        formData.append("grant_type", "refresh_token");

        axios
          .post(`${baseApiUrlAuth}/oauth/token`, formData, {
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
              Authorization: "Basic dnVlanM6dnVlanM="
            }
          })
          .then(res => {
            axios
              .get(url, {
                headers: {
                  Authorization: "Bearer " + res.data.access_token
                }
              })
              .then(resposta => {
                var arrrayBuffer = base64ToArrayBuffer(resposta.data);
                function base64ToArrayBuffer(base64) {
                  var binaryString = window.atob(base64);
                  var binaryLen = binaryString.length;
                  var bytes = new Uint8Array(binaryLen);
                  for (var i = 0; i < binaryLen; i++) {
                    var ascii = binaryString.charCodeAt(i);
                    bytes[i] = ascii;
                  }
                  return bytes;
                }
                var blob = new Blob([arrrayBuffer], {
                  type: "application/pdf"
                });
                var link = window.URL.createObjectURL(blob);
                window.open(link);
              });

            localStorage.setItem(
              userKey,
              JSON.stringify(res.data.access_token)
            );
            this.$store.commit(
              "SET_TOKEN",
              JSON.parse(localStorage.getItem(userKey))
            );
          })
          .catch(error => {
            showError(error.response.status, error.response.data.error);
            console.log(JSON.stringify(error.response));
          });
      }
    },

    confirmNewContract() {
      this.boxNewContract = "";
      this.$bvModal
        .msgBoxConfirm("Deseja realizar o lançamento de um novo contrato?", {
          title: "Confirmação pendente.",
          size: "md",
          buttonSize: "sm",
          okVariant: "danger",
          okTitle: "SIM",
          cancelTitle: "NÃO",
          footerClass: "p-2",
          hideHeaderClose: true,
          centered: true
        })
        .then(value => {
          this.boxNewContract = value;

          if (this.boxNewContract == true) {
            this.report();
          }
        })
        .catch(err => {
          // An error occurred
        });
    },
    confirmEndContract() {
      this.boxNewContract = "";
      this.$bvModal
        .msgBoxConfirm(
          "Deseja realizar o a recissão de um contrato existente?",
          {
            title: "Confirmação pendente.",
            size: "md",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "SIM",
            cancelTitle: "NÃO",
            footerClass: "p-2",
            hideHeaderClose: true,
            centered: true
          }
        )
        .then(value => {
          this.boxNewContract = value;

          if (this.boxNewContract == true) {
            this.report();
          }
        })
        .catch(err => {
          // An error occurred
        });
    }
  }
};
</script>
<style>
</style>